[00]-dados-do-tráfego-DBwnPZQuOnQw81gY.json
{"createdAt":"2025-03-05T16:41:51.148Z","updatedAt":"2025-03-12T13:35:40.414Z","id":"DBwnPZQuOnQw81gY","name":"[00] Dados do tráfego","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"85af690a-2e25-4ca8-b22b-55d15033a33a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2660,100]},{"parameters":{"url":"={{ $('If1').item.json.paging.next }}","options":{}},"id":"270e0661-e35c-4a11-b0c1-9f4f99e7ff8d","name":"HTTP Request5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,100]},{"parameters":{},"id":"021a6958-f5e6-4576-bd9c-b7b835774705","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[660,0]},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"23c70d2e-20ec-48d4-b565-d5b28da307ce","name":"Item Lists1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-660,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ff7734f6-dc78-4849-afd2-3d6b4a686ee9","leftValue":"={{ $json.campaign_name }}","rightValue":"TRACK","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"6ee0df5d-6575-4b14-8e09-94269e375830","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-440,100],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"12420889-d13d-4f80-8c7e-278059ce998e","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"12f6e7e1-2453-480f-940a-187d02ce91dc","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-220,100]},{"parameters":{"options":{}},"id":"8e9d4f66-6f62-4da4-8edc-4fe8cba66efd","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1320,100]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let dataInicial = $now\ndataInicial = dataInicial.year + '-' + (dataInicial.month <= 9 ? '0' + dataInicial.month : dataInicial.month) + '-' + (dataInicial.day <= 9 ? '0' + dataInicial.day : dataInicial.day)\n\n//dataInicial = '2025-03-01'\n\n// while (data != dataInicial) {\n//     data = $now.minus(86400000 * i)\n//     data = data.year + '-' + (data.month <= 9 ? '0' + data.month : data.month) + '-' + (data.day <= 9 ? '0' + data.day : data.day)\n//     dias[dias.length] = data\n//     i++\n// }\nlet dias = [dataInicial]\n\n// dias = dias.reverse()\n\n$input.item.json.data = dias\n\nreturn $input.item"},"id":"ff7e9ef8-60a1-4863-aa25-3882a8568e41","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1980,20]},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"id":"8f3586c6-119a-48f7-a2df-52f6755457b7","name":"Item Lists4","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[-1760,100]},{"parameters":{"operation":"sort","sortFieldsUi":{"sortField":[{"fieldName":"data"}]},"options":{}},"id":"3be937d2-04d4-4abc-91eb-9fa7f5c230c4","name":"Item Lists5","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[-1540,100]},{"parameters":{"conditions":{"number":[{"value1":"={{ parseInt( $item(\"0\").$node[\"Schedule Trigger\"].json[\"Hour\"] ) }}","operation":"larger","value2":6}]}},"id":"6ad855cf-5709-4049-8f97-72d5d05de0e5","name":"IF5","type":"n8n-nodes-base.if","typeVersion":1,"position":[-2200,100]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let data\nlet i = 0\nlet dias = []\n\nlet dataInicial = $now.minus(86400000)\ndataInicial = dataInicial.year + '-' + (dataInicial.month <= 9 ? '0' + dataInicial.month : dataInicial.month) + '-' + (dataInicial.day <= 9 ? '0' + dataInicial.day : dataInicial.day)\n\ndataInicial = '2024-08-01'\n// dataInicial = $item(\"0\").$node[\"MySQL1\"].json[\"MAX (data)\"] ? $item(\"0\").$node[\"MySQL1\"].json[\"MAX (data)\"].split('T')[0] : '2024-08-02'\n\nwhile (data != dataInicial && i <= 1000) {\n    data = $now.minus(86400000 * i)\n    data = data.year + '-' + (data.month <= 9 ? '0' + data.month : data.month) + '-' + (data.day <= 9 ? '0' + data.day : data.day)\n    dias[dias.length] = data\n    i++\n}\n\ndias = dias.reverse()\n\n$input.item.json.data = dias\n\nreturn $input.item"},"id":"0c569eb7-4d69-4765-b0b5-d8512fd1522d","name":"Code3","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1980,180]},{"parameters":{"jsCode":"let json = [{\n  \"Token\": \"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD\",\n  \"Nome da Conta\": \"Acc 01 VisoNutra\",\n  \"Id da Conta\": \"589428637142050\",\n}]\nreturn json"},"id":"6942fac7-1a9a-495b-8983-85c1cf15e825","name":"Code2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2420,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6d6d828c-25bb-4a01-bc64-ed54a356126b","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4d990c47-b563-4ad3-837f-37fe3820145e","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-880,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6d6d828c-25bb-4a01-bc64-ed54a356126b","leftValue":"={{ $('If1').item.json.paging.next }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e15f9114-9fd2-428c-92a5-cda8a3351b0b","name":"If2","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,120]},{"parameters":{"url":"=https://graph.facebook.com/v20.0/act_{{ $json['Id da Conta'] }}/insights","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.Token }}"},{"name":"time_range","value":"={'since':'{{ $json[\"data\"] }}','until':'{{ $json[\"data\"] }}'}"},{"name":"fields","value":"campaign_name,adset_name,ad_name,ad_id,spend,impressions,inline_link_clicks,inline_link_click_ctr,reach,frequency,cpm,actions,video_p100_watched_actions,video_p25_watched_actions,video_p50_watched_actions,video_p75_watched_actions,video_p95_watched_actions,account_name"},{"name":"level","value":"ad"},{"name":"limit","value":"500"}]},"options":{}},"id":"457032c2-9c8c-4c99-a48f-ab9548fcac37","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1100,120],"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const json = $input.item.json;\n\nfunction extractVideoActionValues(actions) {\n  return actions?.find(action => action[\"action_type\"] === \"video_view\")?.value || 0;\n}\n\nconst videoActions = [\"video_p100_watched_actions\", \"video_p25_watched_actions\", \"video_p50_watched_actions\", \"video_p75_watched_actions\", \"video_p95_watched_actions\"];\nconst videoValues = videoActions.reduce((acc, actionType) => {\n  acc[actionType.replace(\"watched_actions\", \"value\")] = extractVideoActionValues(json[actionType]);\n  return acc;\n}, {});\n\nconst video_view3s_total = json.actions?.reduce((total, action) => action.action_type === \"video_view\" ? total + parseInt(action.value) : total, 0) || 0;\n\nconst messaging_first_reply = json.actions?.reduce((total, action) => action.action_type === \"onsite_conversion.messaging_first_reply\" ? total + parseInt(action.value) : total, 0) || 0;\n\nconst output = {\n  campaign_name: json[\"campaign_name\"],\n  adset_name: json[\"adset_name\"],\n  ad_name: json[\"ad_name\"],\n  ad_id: json[\"ad_id\"],\n  spend: json[\"spend\"],\n  impressions: json[\"impressions\"],\n  inline_link_clicks: json[\"inline_link_clicks\"],\n  inline_link_click_ctr: json[\"inline_link_click_ctr\"],\n  reach: json[\"reach\"],\n  frequency: json[\"frequency\"],\n  cpm: json[\"cpm\"],\n  date_start: json[\"date_start\"],\n  date_stop: json[\"date_stop\"],\n  \n  video_view3s_total,\n  messaging_first_reply,\n  ...videoValues,\n  \n  // Adicionando as métricas novas conforme solicitado\n  conversions: json[\"conversions\"] || 0, // Garantir que, se a métrica não existir, será 0\n  dda_results: json[\"dda_results\"] || 0,\n  purchase_roas: json[\"purchase_roas\"] || 0,\n  conversion_values: json[\"conversion_values\"] || 0,\n  cost_per_conversion: json[\"cost_per_conversion\"] || 0 // Se não existir, será 0\n};\n\nif ($input.item.json) {\n  if ($input.item.json.actions) {\n    $input.item.json.actions.forEach(el => {\n      output[el.action_type] = el.value;\n    });\n  }\n}\n\nreturn output;\n"},"id":"52b3c629-6ffb-4206-959f-ebb6a223c811","name":"Code4","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"515662bd-e824-4d66-babd-88440c8155ba","name":"campanha","value":"={{ $json.campaign_name }}","type":"string"},{"id":"91088710-042c-4ee8-91c9-82cd16032bbf","name":"conjunto_anuncio","value":"={{ $json.adset_name }}","type":"string"},{"id":"41dfeb75-abc7-40af-a594-552be92b59e5","name":"anuncio","value":"={{ $json.ad_name }}","type":"string"},{"id":"b62df5d1-fc7d-4f5a-b920-f62bcb84652a","name":"source_id","value":"={{ $json.ad_id }}","type":"string"},{"id":"fc558eae-16ae-4bc0-aaf4-1283518ae62c","name":"investimento","value":"={{ $json.spend }}","type":"number"},{"id":"04c91311-b626-49fb-a65c-3122e347553c","name":"impressoes","value":"={{ $json.impressions }}","type":"number"},{"id":"bb4f1063-1227-4675-9d8d-68c14a526e0b","name":"cliques_no_link","value":"={{ $json.inline_link_clicks }}","type":"number"},{"id":"a32a4687-da11-45aa-a9d9-8ad134ed6be0","name":"alcance","value":"={{ $json.reach }}","type":"number"},{"id":"e0e66cb7-d3c4-44d2-82ca-fd233e6f3000","name":"frequencia","value":"={{ $json.frequency }}","type":"number"},{"id":"e5de0424-ecdd-4ec1-a992-4dd63adc9f99","name":"numero_vis_25_videoview","value":"={{ $json.video_p25_value }}","type":"number"},{"id":"67963ea8-108c-408f-917c-22cd87474a9c","name":"numero_vis_50_videoview","value":"={{ $json.video_p50_value }}","type":"number"},{"id":"9f0ebd8e-5bb0-4f47-8109-016c1aeb8b18","name":"numero_vis_75_videoview","value":"={{ $json.video_p75_value }}","type":"number"},{"id":"e5d6881e-8b20-4e39-a08c-d573c09abfde","name":"data","value":"={{ $json.date_start }}","type":"string"},{"id":"4876ffd1-cd43-4838-b372-4dea13fe5a7f","name":"numero_vis_3s_videoview","value":"={{ $json.video_view3s_total }}","type":"number"},{"id":"c70a2a8c-a56d-4917-b2e9-99ea43f59f5e","name":"id_data","value":"={{ $json.ad_id }}_{{ $json.date_start }}","type":"string"},{"id":"f8dabb84-b8ee-4473-b89b-121855d7a692","name":"mensagens_iniciadas","value":"={{ $json['onsite_conversion.messaging_conversation_started_7d'] }}","type":"string"},{"id":"6bedc80b-3cf4-4f72-8efe-b4d583658f55","name":"numero_vis_95_videoview","value":"={{ $json.video_p95_value }}","type":"string"},{"id":"157c5f66-ee2f-4da0-a24d-7f34ba138a98","name":"id_conta","value":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Id da Conta\"] }}","type":"string"},{"id":"55a54936-2fe5-4450-9b39-dbcbe8e5ac8a","name":"conversions","value":"={{ $json[\"conversions\"] }}","type":"string"},{"id":"fc67354f-0059-4500-8ac7-80e023e0aa0f","name":"dda_results","value":"={{ $json[\"dda_results\"] }}","type":"string"},{"id":"d6de39a8-f70b-4bb0-93ac-ec2f679204a0","name":"purchase_roas","value":"={{ $json[\"purchase_roas\"] }}","type":"string"},{"id":"0fbb4494-f5b5-46f3-afa2-55a0d571ad51","name":"conversion_values","value":"={{ $json[\"conversion_values\"] }}","type":"string"},{"id":"c9b1ff3b-4e04-4111-bdc2-6b6eb1ae4cf3","name":"cpa","value":"={{ $json[\"cost_per_conversion\"] }}","type":"string"}]},"options":{}},"id":"c7bbcc76-a762-4af2-acfa-4ba9fb3cf58f","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[220,0]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":792345945,"mode":"list","cachedResultName":"Tráfego","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=792345945"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id_data"],"schema":[{"id":"id_data","displayName":"id_data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conjunto_anuncio","displayName":"conjunto_anuncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"anuncio","displayName":"anuncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"investimento","displayName":"investimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"impressoes","displayName":"impressoes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cliques_no_link","displayName":"cliques_no_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"alcance","displayName":"alcance","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"frequencia","displayName":"frequencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero_vis_25_videoview","displayName":"numero_vis_25_videoview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero_vis_50_videoview","displayName":"numero_vis_50_videoview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero_vis_75_videoview","displayName":"numero_vis_75_videoview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero_vis_3s_videoview","displayName":"numero_vis_3s_videoview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensagens_iniciadas","displayName":"mensagens_iniciadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero_vis_95_videoview","displayName":"numero_vis_95_videoview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conversions","displayName":"conversions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dda_results","displayName":"dda_results","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"purchase_roas","displayName":"purchase_roas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conversion_values","displayName":"conversion_values","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cpa","displayName":"cpa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[440,0],"id":"9590f227-5b5b-4ad4-843c-f7dc45d7609e","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"If1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code4","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Item Lists4","type":"main","index":0}]]},"Item Lists4":{"main":[[{"node":"Item Lists5","type":"main","index":0}]]},"Item Lists5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"IF5":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Item Lists4","type":"main","index":0}]]},"Code2":{"main":[[{"node":"IF5","type":"main","index":0}]]},"If1":{"main":[[{"node":"Item Lists1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request5","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Limit1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"652cedb9-aec8-48ef-b4d9-bb1de284af45","triggerCount":1,"tags":[]}