[01]-[rastreio-wapp]-entrou-em-contato-USSDHOrmin3M37mM.json
{"createdAt":"2025-03-04T13:08:00.128Z","updatedAt":"2025-03-18T20:59:09.831Z","id":"USSDHOrmin3M37mM","name":"[01] [RASTREIO WAPP] Entrou em Contato","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"db4c4cfc-bdc8-48fd-9a79-96b17852642b","leftValue":"={{ $node[\"Google Cloud Firestore\"].json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0902be53-0321-4ee7-8fb1-67b53981b54b","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-1100,220]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $node[\"Edit Fields\"].json[\"source_id\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"},{"name":"fields","value":"tracking_specs"}]},"options":{}},"id":"d0b7b003-1a5c-49c8-8cae-cdd58e3a4ca4","name":"Buscar o ID do pixel vinculado ao anúncio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,460]},{"parameters":{"jsCode":"// Função para procurar \"dataset\" e \"page\" em qualquer lugar do objeto\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta o campo \"dataset\" se existir\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            }\n            // Coleta o campo \"page\" se existir\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;\n\n\n"},"id":"da6d62c2-37de-4b10-a87b-7112886317bd","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,460]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/433280459806418/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"LeadSubmitted\",\n      \"event_time\": {{ $('Date & Time1').item.json.dataTimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": \"{{ $node[\"Hash ph\"].json[\"dataPh\"] }}\",\n        \"ctwa_clid\": \"{{ $node[\"Edit Fields\"].json[\"ctwaclid\"] }}\",\n        \"page_id\": \"{{ $json[\"page\"][\"0\"] }}\"\n      }\n    }\n  ]\n}","options":{}},"id":"3e6b759f-ad37-4de6-b0a5-81300d150c00","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-460,460]},{"parameters":{"type":"SHA256","value":"={{ $node[\"Edit Fields\"].json[\"phone\"] }}","dataPropertyName":"dataPh"},"id":"3f9709a8-43fb-4610-b61b-27d71457e5b4","name":"Hash ph","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[460,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8ad75878-a807-41c0-8bae-ca1ca8bb5bb3","leftValue":"={{ $json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e7b0494c-4b00-4378-9b4f-cb50573c4c6f","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-2000,240]},{"parameters":{"workflowId":"W6mSlXIOgVAgcGD5","options":{}},"id":"40961ac0-39fc-4dc6-be55-b4f7c3825ea1","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-1780,40]},{"parameters":{"operation":"formatDate","date":"={{ $node[\"Google Cloud Firestore1\"].json[\"updateTime\"] }}","format":"custom","customFormat":"dd/MM/yyyy","outputFieldName":"DataFormatada","options":{"timezone":true}},"id":"3c3982a8-a337-4428-b944-a17e5c3e666f","name":"Data Formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-260,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"285c981c-49c2-47e6-8f5d-8c18eaa1637b","leftValue":"={{ $node[\"Edit Fields\"].json[\"source_id\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"78580e4b-63be-4db9-81af-f547262d7826","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[720,200],"onError":"continueRegularOutput"},{"parameters":{"options":{"includeInputFields":true,"timezone":"America/Sao_Paulo"}},"id":"387d1f0b-6f8a-4843-9fc4-0232f0e92de1","name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-880,220]},{"parameters":{"operation":"formatDate","date":"={{ $node[\"Date & Time\"].json[\"currentDate\"] }}","format":"X","outputFieldName":"dataTimestamp","options":{}},"id":"f8d17689-f13c-4a4d-9e38-e6a3303bb20e","name":"Date & Time1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[220,220]},{"parameters":{"assignments":{"assignments":[{"id":"4bbf5a3b-7bf3-47ed-a400-8d069081244d","name":"phone","value":"={{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}","type":"string"},{"id":"b28e11d3-fb42-4721-a07a-2b6b3ace3132","name":"data_criacao","value":"={{ $json[\"DataFormatada\"] }}","type":"string"},{"id":"2d2f346c-546c-4695-9821-780288865d66","name":"source_id","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"sourceId\"] }}","type":"string"},{"id":"b6c67c75-ed25-44c2-aa7f-c2e3112fc65f","name":"nome","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"a338a587-9ede-4d20-a337-178d67810742","name":"mensagem","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"4611fec0-d5c1-425e-994e-698ecf3f3fda","name":"cta","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"title\"] }}","type":"string"},{"id":"9a693c60-1067-47f8-b591-b25e64ad3fe6","name":"ctwaclid","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"ctwaClid\"] }}","type":"string"},{"id":"ec90713c-f35d-426d-ab3b-d0d8846c948a","name":"source_url","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"sourceUrl\"] }}","type":"string"},{"id":"e5ef1158-9d48-43de-bc4a-ddfb55a65107","name":"thumbnail","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"thumbnailUrl\"] }}","type":"string"},{"id":"90ac92f3-2618-480c-aee9-4be0548a4aa3","name":"status","value":"Entrou em contato","type":"string"},{"id":"c14ce9d4-e5d1-45d9-8800-f4f55c63498a","name":"data_original","value":"={{ $node[\"Date & Time\"].json[\"currentDate\"] }}","type":"string"},{"id":"935e7b42-51fc-47e3-8f5d-2cb12fae5855","name":"atendimento","value":"={{ $node[\"Webhook\"].json[\"body\"][\"instance\"] }}","type":"string"}]},"options":{}},"id":"4b7a6c3b-eb17-4f39-b5e3-c7339d4b0a58","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,220]},{"parameters":{"content":"## Evento Padrão - LeadSubmitted\n\n\n\n\n\n\n\n\n\n\n\n","height":253,"width":568,"color":3},"id":"6df7d89f-c36d-43c1-9062-490be8129287","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,400]},{"parameters":{"httpMethod":"POST","path":"efe5237f-8ea1-4d38-8e63-b6edf487a92e","options":{}},"id":"c5053447-b27a-4821-bb13-f8c605d90be8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2240,240],"webhookId":"efe5237f-8ea1-4d38-8e63-b6edf487a92e"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"jhony-bd","collection":"Leads","updateKey":"=phone","columns":"phone"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-1320,220],"id":"206108d0-95bf-49b6-b4a7-494022bcd050","name":"Google Cloud Firestore","alwaysOutputData":false,"credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"jhony-bd","collection":"Leads","updateKey":"=phone","columns":"=data_criacao,nome,status,mensagem,cta,ctwaclid,source_url,thumbnail,source_id,data_original,atendimento"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[0,220],"id":"ef8040b4-5870-4150-8698-dc2949c4f277","name":"Google Cloud Firestore1","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"// Função para extrair apenas o número do remoteJid\nfunction extractPhoneNumber(value) {\n  // Remove tudo que não for dígito\n  return value.replace(/\\D/g, '');\n}\n\n// Função para verificar e retornar o valor de três parâmetros\nfunction getPhoneNumber(json, node) {\n  let remoteJid = null;\n\n  // Tenta pegar o valor do primeiro parâmetro\n  if (json?.body?.data?.[0]?.remoteJid) {\n    remoteJid = json.body.data[0].remoteJid;\n  }\n  // Tenta pegar o valor do segundo parâmetro\n  else if (node?.Webhook?.json?.body?.data?.key?.remoteJid) {\n    remoteJid = node.Webhook.json.body.data.key.remoteJid;\n  }\n  // Tenta pegar o valor do terceiro parâmetro\n  else if (json?.body?.data?.remoteJid) {\n    remoteJid = json.body.data.remoteJid;\n  }\n\n  // Se encontrou um remoteJid, extrai apenas o número\n  if (remoteJid) {\n    return extractPhoneNumber(remoteJid);\n  }\n\n  // Retorna null se nenhum dos parâmetros tiver valor\n  return null;\n}\n\n// Chama a função e retorna o resultado com a chave \"phone\"\nreturn {\n  phone: getPhoneNumber($json, $node)\n};"},"id":"ca51807e-1ec8-4b66-bc6a-b7786160bbe3","name":"Phone","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1800,240]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[960,80],"id":"708886d3-d19f-431a-9a07-59509d8f0f1d","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"b28e11d3-fb42-4721-a07a-2b6b3ace3132","name":"Data","value":"={{ $json[\"DataFormatada\"] }}","type":"string"},{"id":"2d2f346c-546c-4695-9821-780288865d66","name":"Source ID","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"sourceId\"] }}","type":"string"},{"id":"b6c67c75-ed25-44c2-aa7f-c2e3112fc65f","name":"Nome","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"a338a587-9ede-4d20-a337-178d67810742","name":"Phone","value":"=https://wa.me/+{{ $node[\"Edit Fields\"].json[\"phone\"] }}","type":"string"},{"id":"90ac92f3-2618-480c-aee9-4be0548a4aa3","name":"Status","value":"Entrou em contato","type":"string"},{"id":"b665ca09-8420-4dab-9749-6e044897b970","name":"Anúncio","value":"={{ $node[\"Google Cloud Firestore1\"].json[\"source_url\"] }}","type":"string"},{"id":"f4585ba8-364a-4f35-a1cc-21024721f232","name":"Atendente","value":"={{ $node[\"Webhook\"].json[\"body\"][\"instance\"] }}","type":"string"}]},"options":{}},"id":"f2367c48-4089-45a6-917d-110370080fd2","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,460]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"Data":"={{ $json[\"data_criacao\"] }}","Nome":"={{ $json[\"nome\"] }}","Phone":"={{ $json[\"phone\"] }}","Source ID":"={{ $json[\"source_id\"] }}","Status":"={{ $json[\"status\"] }}"},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[440,460],"id":"e6261052-055a-4fa7-9552-e7500b616d37","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27f93d96-8892-4a34-b8dd-482eb5ac6114","leftValue":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"ctwaClid\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1580,240],"id":"43681d19-ca8f-4553-8a41-0108f34c7040","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1300,440],"id":"298cb988-db96-4aca-aebf-ff6dd9e35b96","name":"No Operation, do nothing1"},{"parameters":{"operation":"formatDate","date":"={{ $json[\"currentDate\"] }}","format":"custom","customFormat":"dd/MM/yyyy","outputFieldName":"DataFormatada","options":{"timezone":true}},"id":"db1943e1-8693-4fc5-a332-a5c52395bb93","name":"Data Formatada1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-660,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9685429a-bed8-484d-845a-a3ad021cddbc","leftValue":"={{ $node[\"Webhook\"].json[\"body\"][\"instance\"] }}","rightValue":"Gabriel atendimento","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,460],"id":"5c9edfc4-3b2e-44f6-b03f-73a7e8b8d475","name":"If3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1z0NkhzyK6VOyH4wiwGlHGd6e2QRSzEfZMyBOaUyHHvI/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z0NkhzyK6VOyH4wiwGlHGd6e2QRSzEfZMyBOaUyHHvI/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,600],"id":"cc3b4f28-3dac-4b28-8488-4083769e6f37","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"b28e11d3-fb42-4721-a07a-2b6b3ace3132","name":"Data","value":"={{ $json[\"DataFormatada\"] }}","type":"string"},{"id":"2d2f346c-546c-4695-9821-780288865d66","name":"Source ID","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"sourceId\"] }}","type":"string"},{"id":"b6c67c75-ed25-44c2-aa7f-c2e3112fc65f","name":"Nome","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"a338a587-9ede-4d20-a337-178d67810742","name":"Phone","value":"=https://wa.me/+{{ $node[\"Edit Fields\"].json[\"phone\"] }}","type":"string"},{"id":"90ac92f3-2618-480c-aee9-4be0548a4aa3","name":"Status","value":"Entrou em contato","type":"string"},{"id":"b665ca09-8420-4dab-9749-6e044897b970","name":"Anúncio","value":"={{ $node[\"Google Cloud Firestore1\"].json[\"source_url\"] }}","type":"string"},{"id":"f4585ba8-364a-4f35-a1cc-21024721f232","name":"Atendente","value":"={{ $node[\"Webhook\"].json[\"body\"][\"instance\"] }}","type":"string"}]},"options":{}},"id":"d7bc9f89-ef15-415f-ac44-f020f41edca6","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,600]},{"parameters":{"jsCode":"// Função para substituir \"Leonardo atendimento\" por \"Gabriel Atendimento\" \n// usando a chave Edit Fields1.json.Atendente\nfunction replaceAtendenteName(items) {\n  // Para cada item nos dados de entrada\n  for (const item of items) {\n    // Verifica se existe o caminho especificado \n    if (item?.$node?.[\"Edit Fields1\"]?.json?.[\"Atendente\"]) {\n      const atendenteValue = item.$node[\"Edit Fields1\"].json[\"Atendente\"];\n      \n      // Verifica se o valor contém \"Leonardo atendimento\" (insensível a maiúsculas/minúsculas)\n      if (typeof atendenteValue === 'string') {\n        // Usa uma expressão regular com a flag 'i' para tornar a busca insensível a maiúsculas/minúsculas\n        const leonardoRegex = /leonardo atendimento/i;\n        \n        // Verifica se o texto contém \"Leonardo atendimento\" em qualquer capitalização\n        if (leonardoRegex.test(atendenteValue)) {\n          // Substitui todas as ocorrências (usando replace com regex)\n          item.$node[\"Edit Fields1\"].json[\"Atendente\"] = atendenteValue.replace(leonardoRegex, 'Gabriel Atendimento');\n        } \n        // Verifica se o texto é exatamente \"Leonardo\" (também insensível a maiúsculas/minúsculas)\n        else if (/^leonardo$/i.test(atendenteValue)) {\n          item.$node[\"Edit Fields1\"].json[\"Atendente\"] = 'Gabriel';\n        }\n      }\n    }\n    \n    // Se você também precisa atualizar o valor em outros lugares, adicione aqui.\n    // Por exemplo, você pode querer atualizar também o valor no json raiz:\n    if (item?.json?.[\"Atendente\"]) {\n      const atendenteValue = item.json[\"Atendente\"];\n      \n      if (typeof atendenteValue === 'string') {\n        const leonardoRegex = /Leonardo atendimento/i;\n        if (leonardoRegex.test(atendenteValue)) {\n          item.json[\"Atendente\"] = atendenteValue.replace(leonardoRegex, 'Gabriel Atendimento');\n        } else if (/^Leonardo$/i.test(atendenteValue)) {\n          item.json[\"Atendente\"] = 'Gabriel';\n        }\n      }\n    }\n  }\n  \n  return items;\n}\n\n// Executa a função com todos os itens de entrada\nreturn replaceAtendenteName($input.all());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,220],"id":"4f863638-d172-4d49-abc5-46ed472bb556","name":"Code2"},{"parameters":{"jsCode":"function replaceAtendenteName(items) {\n  return items.map(item => {\n    // Criar uma cópia profunda do objeto para modificar\n    const newItem = JSON.parse(JSON.stringify(item));\n    \n    // Converte o objeto em string para fazer a substituição global\n    const itemStr = JSON.stringify(newItem);\n    \n    // Substitui todas as ocorrências de \"Leonardo\" por \"Gabriel\"\n    const updatedStr = itemStr.replace(/Leonardo/g, \"Gabriel\");\n    \n    // Converte de volta para objeto\n    return JSON.parse(updatedStr);\n  });\n}\n\n// Executa a função com os dados de entrada\nreturn replaceAtendenteName($input.all());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1780,-140],"id":"8fb972f5-f696-4b97-b15a-3896a7eef819","name":"Code3"},{"parameters":{"assignments":{"assignments":[{"id":"2407e37c-b1c5-451f-826a-25f6537e267b","name":"atendimento","value":"={{ $json[\"body\"][\"instance\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2000,-100],"id":"2f271cdd-0b94-419a-81f9-61ef5f3b4c5c","name":"Edit Fields3"}],"connections":{"Filter":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Buscar o ID do pixel vinculado ao anúncio":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Data Formatada","type":"main","index":0}]]},"Hash ph":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Phone","type":"main","index":0}]]},"Data Formatada":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Buscar o ID do pixel vinculado ao anúncio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Data Formatada1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Hash ph","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Google Cloud Firestore1":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Phone":{"main":[[{"node":"If2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Google Cloud Firestore","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Data Formatada1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If3":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Cloud Firestore1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Code3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.jhonysouza.online","user-agent":"axios/1.7.9","content-length":"5008","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.jhonysouza.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f87a86bb5137","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Jhony Atendente","data":{"key":{"remoteJid":"554799938990@s.whatsapp.net","fromMe":false,"id":"DE7BA4A7CDB5CA90B9164546121395B7"},"pushName":"Sueli🙏🏻","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"recipientKeyHash":"L6gahfsq9G+s/w==","recipientTimestamp":"1741459109"},"deviceListMetadataVersion":2,"messageSecret":"/1EmXwrBTUxG3aPptfsthwBrHbCsMymBaBAzkmqeg00="},"conversation":"Olá! Tenho interesse e queria mais informações sobre o Visonutra, por favor."},"contextInfo":{"conversionSource":"FB_Ads","conversionData":"QVJCaUdVa3JMYzJmTGMzLUhmckdkU3NFNFp5VVdpZXZqaWU1VmVpc1NvbTVjeF9IZ0VULVdyUjh4OFV0UWZhRk1hQXV2ZzhuR3pZeTVmZGhqeTdrX0swS3lab09oNWlNc2kwOTVaWFMtN0ZRa0o5d09aWm1hSDl3Tzc4NExwbkN1VGRBcTU1cVRkUVJYZ1V1dDQ0YVp6OTZxRkZiYVZuanN6MWNfUC0xRnBFTHk2V3FwSTFrZDZ6Szlmb0dyaEx0X2VudnBTVkhtRGwyZ1VuaEdmM1pFQWdvREhESFEyQ05wdVpQQ1pMNE1zT2xEQ2RhVkdScmRETjd4MjNKVW90YU5mbVVleW9uQ0MzRVFtQVQ1ZVVjVDJFRGNMWFpsZGJMdHZheWYwZHgwbFNZQ00yOC02aS1Ic0xrX19PeTRkY2RGQQ==","conversionDelaySeconds":11,"externalAdReply":{"title":"Converse conosco","body":"⚠️PAGAMENTO SOMENTE NA ENTREGA!!⚠️\n\nAdeus a qualquer problema de vista com esse tratamento 100% Natural.\nFale com um Especialista clicando no botão abaixo da imagem e não espere mais!\n🎁 NÃO PERCA AS OFERTAS! Fale com nosso especialista pelo Whatsapp! 📞","mediaType":"VIDEO","thumbnailUrl":"https://scontent.xx.fbcdn.net/v/t15.5256-10/470981587_1628207854446832_4138087352510660153_n.jpg?stp=dst-jpg_s851x315_tt6&_nc_cat=105&ccb=1-7&_nc_sid=40cf1a&_nc_ohc=1QmTejROcm4Q7kNvgFVT7rd&_nc_oc=AdgH73cEUTJKrNvidINinH_qkc5MJDt_6boh_SR8LZ18u6o6gVSZGYeGRy_cW7XI5tF-qsL6Tv7Yf7f7yGmQ-2Wj&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&_nc_gid=Lk377l-zI7lBHyIgieiEgQ&oh=00_AYEXybTgT8MFLpvF5QMGNdfL5eUz9cQVSEnXGLK6OjAZOQ&oe=67DF5D52","mediaUrl":"https://www.facebook.com/100088955911607/videos/446689178493935/","thumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/7QCEUGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAGgcAigAYkZCTUQwYTAwMGE4ODAxMDAwMGU4MDEwMDAwNmUwMjAwMDBhYjAyMDAwMDAzMDMwMDAwYjIwMzAwMDBiZDA0MDAwMGQ3MDQwMDAwMGMwNTAwMDAzYTA1MDAwMDZjMDYwMDAwAP/bAIQABQYGCwgLCwsLCw0LCwsNDg4NDQ4ODw0ODg4NDxAQEBEREBAQEA8TEhMPEBETFBQTERMWFhYTFhUVFhkWGRYWEgEFBQUKBwoICQkICwgKCAsKCgkJCgoMCQoJCgkMDQsKCwsKCw0MCwsICwsMDAwNDQwMDQoLCg0MDQ0MExQTExOc/8IAEQgAMgAyAwEiAAIRAQMRAf/EAFMAAAEEAwAAAAAAAAAAAAAAAAQCAwUGAAEHEAABAgMEBgcGBQUAAAAAAAABABECITEDQVFxBBASYYGREyKhscHR8AUUMqLh8RVCQ1KSIGJyguL/2gAMAwEAAgADAAAAAa2Zc8sQFJdvsc2qos3ZrSud3Gcg1JFN6IoJ4GFlK1Dny8C+GwXtpKtM216iPy0FcacSKCcS1EmtycPP70pHTieUYZG9k5nD4h1g5jBzELzJEH//2gAIAQEAAQUCsxAVsWS2LNGzsl0dmoobMBe72K93sUPZ4IFjYmL3eyXRWK6LRlpVmNGNnoXT2fsu36SxiPRxgBaSgtJLJtuy9l2Ashbw7ccNmwNlsraVrpItENKaHQtIK2j0rFW8XV6RbRC2nVjt9JpwO2LaNWYJ1RWEBNnZww6tKqyGr//aAAgBAwABPwHof8UNHOA7V7rH+3sK90i9P5LoYcFo4mUdQ0paDamJ+AUZYFf6xdnmgA9FDUZhaT8PEav/2gAIAQIAAT8BOnA3Wg4BH2jAPzRj+K/E7P8AdFzhX4zZYRfL5r8QjYNXH6MtINHq+qSNpCz9FHsi9g2FW4ZqM7bnD1coBtMF0B/cFFEWqhSLIrRfi4HV/9oACAEBAAY/AusWXxemo7Yr4sfpJfGfVLl8WU7s2UonPprtX6P8vqv0f5f9L4IO3zWwBBtB3HXuVLP5lSz+dUh+ZCGLrFrhF5rpBEIIZ1Bu4of2dXlTsUYh/MS/E6par1EHZwZlRgROCVHP8xUWtwYmi3BGGZjueGS609oyYd6tXk0cTHiV8A7fJeCqr+SkIuSg6sQ6wu35KV0UXamddZUReCHkF1YQMg2qPPx/o//aAAgBAQABPyF8fYRS8HgaGZ3IsY6gTpeSAcTGSDJnE2lnkN1ferqKtQ5fJcv7Ew75UwLJPRJLSaU0cONGVJ9pvpqL0pHvKmrB2A7sQQ8EKbk2AA4TPukq3dedEVeR5kGQ717SJnNiXZVO7OSx5GHeK9hcgTjkicml9GqdJzeXDVMEDB0mAWeyoCRgaA3KVDZGaAyMi1yAyed4NDQ3sEw7nEnRMB5SdiZYsaoYPyrPmTqBxJIih4lNJfC8A0pFTVITztMmot3IGBICxDQUxyQ4+gIgDF0bg5poHH3270Jrk51dImzMzMZES+h/zIEUe8p3JPnvTegCJhJepMZ8E8zGrDmy1BzKMwF2t//aAAwDAQACAAMAAAAQTZaCU0Rr6faBzTxj/9oACAEDAAE/EAQxcSib1Mr6MFl8kXSCkTAAb0VQppybdv1+yOVVB41RzExQBOADgj9Pfrb/2gAIAQIAAT8QnWS1HJ688dZKKJvE2ojEvQqx3zFOdlEco+0lSBzSk8l6Nhrb/9oACAEBAAE/ELkGMk3HGJBNOjOfNcY18gx2JnObwAdeVVDwXoxIREgJE6QNeYC3VjcVDRKjvAvA1n5ww1d/IvNRfwzvcEZ25yVvfgZkT+pFZ8wnn4LuUnf7Uug28tyC5MdGMZ64JLLvEV8DRQJd3Zl+75zV9o5M4B3AgAknaQbswgBGIB7FMkYfz+YSxzTryWYK5mHesFo3iYkEjCY24MGH2CmlLjBvBOZGbw1xyG8ajJZm9ZIdvONJQhxzU9fsAm+wQTS4TuXZk24hWSXpPWYhB5vGzciJGQ3TblfBEhepuINTlrsDsgMBFypP2LXVzyJmRVPyRnC5AUJsXhSfmstIOB2iOzQC29eTcJ3/AEUeKyJJBmJcumZlCaT4qGdgdnLZ6gUUnwSSEGZg6o4lOv/Z","sourceType":"ad","sourceId":"120218512691250505","sourceUrl":"https://fb.me/EHTqiLHEt","containsAutoReply":false,"renderLargerThumbnail":true,"showAdAttribution":true,"ctwaClid":"ARAFJaW6GYKgrEBiOX9OP1ulEG8waSP6Q552m9MOxBS19YOY0zpDpi8DAlx-Cp-2KhHg8tXdGDsb9Q5j8u3pQPXTVUSqiDY8HzInbIf_agJzg94QRKGBOvHXd1xGDhqoS70RmKLpyg"},"entryPointConversionSource":"ctwa_ad","entryPointConversionApp":"facebook","entryPointConversionDelaySeconds":9,"trustBannerAction":4294967295},"messageType":"conversation","messageTimestamp":1742313874,"instanceId":"554a02d3-46a7-4ed4-98b9-15b93b7c98cb","source":"android"},"destination":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","date_time":"2025-03-18T13:04:39.523Z","sender":"557391357036@s.whatsapp.net","server_url":"https://chat.jhonysouza.online","apikey":"E26CA731DBBC-4A37-9AF2-E62AA8D3C5FB"},"webhookUrl":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","executionMode":"production"}}]},"versionId":"1c52bb27-7e9a-4396-93a1-111acdd69c29","triggerCount":1,"tags":[]}