[01]-[rastreio-wapp]-entrou-em-contato-USSDHOrmin3M37mM.json
{"createdAt":"2025-03-04T13:08:00.128Z","updatedAt":"2025-03-17T21:32:29.119Z","id":"USSDHOrmin3M37mM","name":"[01] [RASTREIO WAPP] Entrou em Contato","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"db4c4cfc-bdc8-48fd-9a79-96b17852642b","leftValue":"={{ $node[\"Google Cloud Firestore\"].json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0902be53-0321-4ee7-8fb1-67b53981b54b","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-1100,220]},{"parameters":{"url":"=https://graph.facebook.com/v21.0/{{ $node[\"Edit Fields\"].json[\"source_id\"] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"},{"name":"fields","value":"tracking_specs"}]},"options":{}},"id":"d0b7b003-1a5c-49c8-8cae-cdd58e3a4ca4","name":"Buscar o ID do pixel vinculado ao anúncio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,460]},{"parameters":{"jsCode":"// Função para procurar \"dataset\" e \"page\" em qualquer lugar do objeto\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta o campo \"dataset\" se existir\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            }\n            // Coleta o campo \"page\" se existir\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;\n\n\n"},"id":"da6d62c2-37de-4b10-a87b-7112886317bd","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-680,460]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/433280459806418/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"LeadSubmitted\",\n      \"event_time\": {{ $('Date & Time1').item.json.dataTimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": \"{{ $node[\"Hash ph\"].json[\"dataPh\"] }}\",\n        \"ctwa_clid\": \"{{ $node[\"Edit Fields\"].json[\"ctwaclid\"] }}\",\n        \"page_id\": \"{{ $json[\"page\"][\"0\"] }}\"\n      }\n    }\n  ]\n}","options":{}},"id":"3e6b759f-ad37-4de6-b0a5-81300d150c00","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,460]},{"parameters":{"type":"SHA256","value":"={{ $node[\"Edit Fields\"].json[\"phone\"] }}","dataPropertyName":"dataPh"},"id":"3f9709a8-43fb-4610-b61b-27d71457e5b4","name":"Hash ph","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[200,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8ad75878-a807-41c0-8bae-ca1ca8bb5bb3","leftValue":"={{ $json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e7b0494c-4b00-4378-9b4f-cb50573c4c6f","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[-2000,240]},{"parameters":{"workflowId":"W6mSlXIOgVAgcGD5","options":{}},"id":"40961ac0-39fc-4dc6-be55-b4f7c3825ea1","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-1780,40]},{"parameters":{"operation":"formatDate","date":"={{ $node[\"Google Cloud Firestore1\"].json[\"updateTime\"] }}","format":"custom","customFormat":"dd/MM/yyyy","outputFieldName":"DataFormatada","options":{"timezone":true}},"id":"3c3982a8-a337-4428-b944-a17e5c3e666f","name":"Data Formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-260,460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"285c981c-49c2-47e6-8f5d-8c18eaa1637b","leftValue":"={{ $node[\"Edit Fields\"].json[\"source_id\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"78580e4b-63be-4db9-81af-f547262d7826","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[460,200],"onError":"continueRegularOutput"},{"parameters":{"options":{"includeInputFields":true,"timezone":"America/Sao_Paulo"}},"id":"387d1f0b-6f8a-4843-9fc4-0232f0e92de1","name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-880,220]},{"parameters":{"operation":"formatDate","date":"={{ $node[\"Date & Time\"].json[\"currentDate\"] }}","format":"X","outputFieldName":"dataTimestamp","options":{}},"id":"f8d17689-f13c-4a4d-9e38-e6a3303bb20e","name":"Date & Time1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-40,220]},{"parameters":{"assignments":{"assignments":[{"id":"4bbf5a3b-7bf3-47ed-a400-8d069081244d","name":"phone","value":"={{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}","type":"string"},{"id":"b28e11d3-fb42-4721-a07a-2b6b3ace3132","name":"data_criacao","value":"={{ $json[\"DataFormatada\"] }}","type":"string"},{"id":"2d2f346c-546c-4695-9821-780288865d66","name":"source_id","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"sourceId\"] }}","type":"string"},{"id":"b6c67c75-ed25-44c2-aa7f-c2e3112fc65f","name":"nome","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"a338a587-9ede-4d20-a337-178d67810742","name":"mensagem","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"4611fec0-d5c1-425e-994e-698ecf3f3fda","name":"cta","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"title\"] }}","type":"string"},{"id":"9a693c60-1067-47f8-b591-b25e64ad3fe6","name":"ctwaclid","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"ctwaClid\"] }}","type":"string"},{"id":"ec90713c-f35d-426d-ab3b-d0d8846c948a","name":"source_url","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"sourceUrl\"] }}","type":"string"},{"id":"e5ef1158-9d48-43de-bc4a-ddfb55a65107","name":"thumbnail","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"thumbnailUrl\"] }}","type":"string"},{"id":"90ac92f3-2618-480c-aee9-4be0548a4aa3","name":"status","value":"Entrou em contato","type":"string"},{"id":"c14ce9d4-e5d1-45d9-8800-f4f55c63498a","name":"data_original","value":"={{ $node[\"Date & Time\"].json[\"currentDate\"] }}","type":"string"}]},"options":{}},"id":"4b7a6c3b-eb17-4f39-b5e3-c7339d4b0a58","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,220]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/433280459806418/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"action_source\": \"physical_store\",\n      \"event_name\": \"Lead_whatsapp\",\n      \"event_time\": {{ $('Date & Time1').item.json.dataTimestamp }},\n      \"user_data\": {\n        \"ph\": \"{{ $node[\"Hash ph\"].json[\"dataPh\"] }}\",\n        \"ctwa_clid\": \"{{ $node[\"Edit Fields\"].json[\"ctwaclid\"] }}\",\n        \"page_id\": \"{{ $node[\"Code\"].json[\"page\"][\"0\"] }}\"\n      },\n      \"custom_data\": {\n        \"evento\": \"Lead_whatsapp\"\n      }\n    }\n  ]\n}\n","options":{}},"id":"db8d11a8-1d2e-48ea-a160-23d643ff4449","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,460]},{"parameters":{"content":"## Evento Pers - Lead_whatsapp \n\n\n\n\n\n\n\n\n\n\n\nConversão com Ctwa_clid para otimização de campanha","height":324.3418820565179,"width":223.9230767553403},"id":"ce9ce734-25ac-4199-8d0d-61494b01b2eb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,380]},{"parameters":{"content":"## Evento Padrão - LeadSubmitted\n\n\n\n\n\n\n\n\n\n\n\n","height":253,"width":568,"color":3},"id":"6df7d89f-c36d-43c1-9062-490be8129287","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,400]},{"parameters":{"httpMethod":"POST","path":"efe5237f-8ea1-4d38-8e63-b6edf487a92e","options":{}},"id":"c5053447-b27a-4821-bb13-f8c605d90be8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2240,240],"webhookId":"efe5237f-8ea1-4d38-8e63-b6edf487a92e"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"jhony-bd","collection":"Leads","updateKey":"=phone","columns":"phone"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-1320,220],"id":"206108d0-95bf-49b6-b4a7-494022bcd050","name":"Google Cloud Firestore","alwaysOutputData":false,"credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"jhony-bd","collection":"Leads","updateKey":"=phone","columns":"=data_criacao,nome,status,mensagem,cta,ctwaclid,source_url,thumbnail,source_id,data_original"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-260,220],"id":"ef8040b4-5870-4150-8698-dc2949c4f277","name":"Google Cloud Firestore1","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"// Função para extrair apenas o número do remoteJid\nfunction extractPhoneNumber(value) {\n  // Remove tudo que não for dígito\n  return value.replace(/\\D/g, '');\n}\n\n// Função para verificar e retornar o valor de três parâmetros\nfunction getPhoneNumber(json, node) {\n  let remoteJid = null;\n\n  // Tenta pegar o valor do primeiro parâmetro\n  if (json?.body?.data?.[0]?.remoteJid) {\n    remoteJid = json.body.data[0].remoteJid;\n  }\n  // Tenta pegar o valor do segundo parâmetro\n  else if (node?.Webhook?.json?.body?.data?.key?.remoteJid) {\n    remoteJid = node.Webhook.json.body.data.key.remoteJid;\n  }\n  // Tenta pegar o valor do terceiro parâmetro\n  else if (json?.body?.data?.remoteJid) {\n    remoteJid = json.body.data.remoteJid;\n  }\n\n  // Se encontrou um remoteJid, extrai apenas o número\n  if (remoteJid) {\n    return extractPhoneNumber(remoteJid);\n  }\n\n  // Retorna null se nenhum dos parâmetros tiver valor\n  return null;\n}\n\n// Chama a função e retorna o resultado com a chave \"phone\"\nreturn {\n  phone: getPhoneNumber($json, $node)\n};"},"id":"ca51807e-1ec8-4b66-bc6a-b7786160bbe3","name":"Phone","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1800,240]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[700,80],"id":"708886d3-d19f-431a-9a07-59509d8f0f1d","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"b28e11d3-fb42-4721-a07a-2b6b3ace3132","name":"data_criacao","value":"={{ $json[\"DataFormatada\"] }}","type":"string"},{"id":"2d2f346c-546c-4695-9821-780288865d66","name":"source_id","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"sourceId\"] }}","type":"string"},{"id":"b6c67c75-ed25-44c2-aa7f-c2e3112fc65f","name":"nome","value":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"pushName\"] }}","type":"string"},{"id":"a338a587-9ede-4d20-a337-178d67810742","name":"phone","value":"=https://wa.me/+{{ $node[\"Edit Fields\"].json[\"phone\"] }}","type":"string"},{"id":"90ac92f3-2618-480c-aee9-4be0548a4aa3","name":"status","value":"Entrou em contato","type":"string"}]},"options":{}},"id":"f2367c48-4089-45a6-917d-110370080fd2","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,460]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json[\"data_criacao\"] }}","Nome":"={{ $json[\"nome\"] }}","Phone":"={{ $json[\"phone\"] }}","Source ID":"={{ $json[\"source_id\"] }}","Status":"={{ $json[\"status\"] }}"},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[160,460],"id":"e6261052-055a-4fa7-9552-e7500b616d37","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27f93d96-8892-4a34-b8dd-482eb5ac6114","leftValue":"={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"contextInfo\"][\"externalAdReply\"][\"ctwaClid\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1580,240],"id":"43681d19-ca8f-4553-8a41-0108f34c7040","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1300,440],"id":"298cb988-db96-4aca-aebf-ff6dd9e35b96","name":"No Operation, do nothing1"},{"parameters":{"operation":"formatDate","date":"={{ $json[\"currentDate\"] }}","format":"custom","customFormat":"dd/MM/yyyy","outputFieldName":"DataFormatada","options":{"timezone":true}},"id":"db1943e1-8693-4fc5-a332-a5c52395bb93","name":"Data Formatada1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-660,220]}],"connections":{"Filter":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Buscar o ID do pixel vinculado ao anúncio":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Data Formatada","type":"main","index":0}]]},"Hash ph":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Phone","type":"main","index":0}]]},"Data Formatada":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Buscar o ID do pixel vinculado ao anúncio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Data Formatada1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Hash ph","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Cloud Firestore1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Google Cloud Firestore1":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Phone":{"main":[[{"node":"If2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Google Cloud Firestore","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Data Formatada1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.jhonysouza.online","user-agent":"axios/1.7.9","content-length":"5067","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.jhonysouza.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f87a86bb5137","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Leonardo atendimento","data":{"key":{"remoteJid":"5521990285491@s.whatsapp.net","fromMe":false,"id":"E191336CC07B68D07C312641AC5D3186"},"pushName":"Fátima Silva","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"recipientKeyHash":"kBBWrLpTcqHM9Q==","recipientTimestamp":"1741544691"},"deviceListMetadataVersion":2,"messageSecret":"n+36PjEKYmC+k1z0CX9V5uliG6popd5g4QloXl29g4s="},"conversation":"Olá! Tenho interesse e queria mais informações sobre o Visonutra, por favor."},"contextInfo":{"conversionSource":"FB_Ads","conversionData":"QVJCcGdUU09lbTZiandvYm5jcnF1RjVRODhxc0N1Snp1QkdlcHd6RUhGWGZ2aDZsNUZWY2YtY2ROd2tOWVFrSXZuWVNiVDNTZWx4TVpNeFk4YkxuSWl0d2tIVDFma2ZkQnhRcTdpdHlKM1NSRXZfNlJNaVY5VjRwQi1vazRlcGFud00xcTFNV1BUeEVpbUlPazJiODVscnZ6dlluLWdyeDFodVdFTDlmdVY1Q2M5S2NLSVVuQkhuUkdaZ3pLQmVEV0VGZTFIdmotMjVnNHVHZm04R1VVaV9LYW5OdW9CRTZNQ2VTV2FvZHVzNlRoMDNEdUUtcmNONFpHWUVxR193OVlwS1ItZ2VLbUdJaDBYUGc5Wl96SDlZazhpeXRHZkkxWUhUdW0wQkRtUVR4RGY4bjhZajEzWk5wUEY3ajh5a0dwQQ==","conversionDelaySeconds":25,"expiration":604800,"ephemeralSettingTimestamp":"1699952719","externalAdReply":{"title":"Converse conosco","body":"⚠️PAGAMENTO SOMENTE NA ENTREGA!!⚠️\n\nAdeus a qualquer problema de vista com esse tratamento 100% Natural.\n\nFale com um Especialista clicando no botão abaixo da imagem, não espere mais!\n\n🎁 NÃO PERCA AS OFERTAS! Fale com nosso especialista pelo Whatsapp! 📞","mediaType":"VIDEO","thumbnailUrl":"https://scontent.xx.fbcdn.net/v/t15.5256-10/470981587_1628207854446832_4138087352510660153_n.jpg?stp=dst-jpg_s851x315_tt6&_nc_cat=105&ccb=1-7&_nc_sid=40cf1a&_nc_ohc=BS8xGBzyR4sQ7kNvgHSe50q&_nc_oc=Adh11m1REQWj7sG8Ker6BV5Sx0SvBv0VjpSNy1OfZfUDUOjAPPzxzqgorTRapxGbx2iL9zAKE6J6krae6B6vy4zW&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&_nc_gid=ATykd-WGI-6gcGoGblKb_eC&oh=00_AYEB7WPeUrKiZJ5h6mz-EgqEUuC4GFImlp-Y-fNyEdnEKQ&oe=67D73C12","mediaUrl":"https://www.facebook.com/100088955911607/videos/1214756810035693/","thumbnail":"/9j/4AAQSkZJRgABAQAAAQABAAD/7QCEUGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAGgcAigAYkZCTUQwYTAwMGE4ODAxMDAwMGU4MDEwMDAwNmUwMjAwMDBhYjAyMDAwMDAzMDMwMDAwYjIwMzAwMDBiZDA0MDAwMGQ3MDQwMDAwMGMwNTAwMDAzYTA1MDAwMDZjMDYwMDAwAP/bAIQABQYGCwgLCwsLCw0LCwsNDg4NDQ4ODw0ODg4NDxAQEBEREBAQEA8TEhMPEBETFBQTERMWFhYTFhUVFhkWGRYWEgEFBQUKBwoICQkICwgKCAsKCgkJCgoMCQoJCgkMDQsKCwsKCw0MCwsICwsMDAwNDQwMDQoLCg0MDQ0MExQTExOc/8IAEQgAMgAyAwEiAAIRAQMRAf/EAFMAAAEEAwAAAAAAAAAAAAAAAAQCAwUGAAEHEAABAgMEBgcGBQUAAAAAAAABABECITEDQVFxBBASYYGREyKhscHR8AUUMqLh8RVCQ1KSIGJyguL/2gAMAwEAAgADAAAAAa2Zc8sQFJdvsc2qos3ZrSud3Gcg1JFN6IoJ4GFlK1Dny8C+GwXtpKtM216iPy0FcacSKCcS1EmtycPP70pHTieUYZG9k5nD4h1g5jBzELzJEH//2gAIAQEAAQUCsxAVsWS2LNGzsl0dmoobMBe72K93sUPZ4IFjYmL3eyXRWK6LRlpVmNGNnoXT2fsu36SxiPRxgBaSgtJLJtuy9l2Ashbw7ccNmwNlsraVrpItENKaHQtIK2j0rFW8XV6RbRC2nVjt9JpwO2LaNWYJ1RWEBNnZww6tKqyGr//aAAgBAwABPwHof8UNHOA7V7rH+3sK90i9P5LoYcFo4mUdQ0paDamJ+AUZYFf6xdnmgA9FDUZhaT8PEav/2gAIAQIAAT8BOnA3Wg4BH2jAPzRj+K/E7P8AdFzhX4zZYRfL5r8QjYNXH6MtINHq+qSNpCz9FHsi9g2FW4ZqM7bnD1coBtMF0B/cFFEWqhSLIrRfi4HV/9oACAEBAAY/AusWXxemo7Yr4sfpJfGfVLl8WU7s2UonPprtX6P8vqv0f5f9L4IO3zWwBBtB3HXuVLP5lSz+dUh+ZCGLrFrhF5rpBEIIZ1Bu4of2dXlTsUYh/MS/E6par1EHZwZlRgROCVHP8xUWtwYmi3BGGZjueGS609oyYd6tXk0cTHiV8A7fJeCqr+SkIuSg6sQ6wu35KV0UXamddZUReCHkF1YQMg2qPPx/o//aAAgBAQABPyF8fYRS8HgaGZ3IsY6gTpeSAcTGSDJnE2lnkN1ferqKtQ5fJcv7Ew75UwLJPRJLSaU0cONGVJ9pvpqL0pHvKmrB2A7sQQ8EKbk2AA4TPukq3dedEVeR5kGQ717SJnNiXZVO7OSx5GHeK9hcgTjkicml9GqdJzeXDVMEDB0mAWeyoCRgaA3KVDZGaAyMi1yAyed4NDQ3sEw7nEnRMB5SdiZYsaoYPyrPmTqBxJIih4lNJfC8A0pFTVITztMmot3IGBICxDQUxyQ4+gIgDF0bg5poHH3270Jrk51dImzMzMZES+h/zIEUe8p3JPnvTegCJhJepMZ8E8zGrDmy1BzKMwF2t//aAAwDAQACAAMAAAAQTZaCU0Rr6faBzTxj/9oACAEDAAE/EAQxcSib1Mr6MFl8kXSCkTAAb0VQppybdv1+yOVVB41RzExQBOADgj9Pfrb/2gAIAQIAAT8QnWS1HJ688dZKKJvE2ojEvQqx3zFOdlEco+0lSBzSk8l6Nhrb/9oACAEBAAE/ELkGMk3HGJBNOjOfNcY18gx2JnObwAdeVVDwXoxIREgJE6QNeYC3VjcVDRKjvAvA1n5ww1d/IvNRfwzvcEZ25yVvfgZkT+pFZ8wnn4LuUnf7Uug28tyC5MdGMZ64JLLvEV8DRQJd3Zl+75zV9o5M4B3AgAknaQbswgBGIB7FMkYfz+YSxzTryWYK5mHesFo3iYkEjCY24MGH2CmlLjBvBOZGbw1xyG8ajJZm9ZIdvONJQhxzU9fsAm+wQTS4TuXZk24hWSXpPWYhB5vGzciJGQ3TblfBEhepuINTlrsDsgMBFypP2LXVzyJmRVPyRnC5AUJsXhSfmstIOB2iOzQC29eTcJ3/AEUeKyJJBmJcumZlCaT4qGdgdnLZ6gUUnwSSEGZg6o4lOv/Z","sourceType":"ad","sourceId":"120218303479060505","sourceUrl":"https://fb.me/3UNnbGZ5Z","containsAutoReply":false,"renderLargerThumbnail":true,"showAdAttribution":true,"ctwaClid":"ARAUWBMsOSB39bZdSeNudKO_Psn84mXacvGBY7vhN8EIQuyG_O2HPBAYxYvAZ7rA_MGs4ADkG2jFUwVppq4wA_kZNbmeBGHjmAqNFpfx5OoIWKUuKnUoKRuuKL74Chb1HcE97bRg0w"},"disappearingMode":{"initiator":"INITIATED_BY_ME","trigger":"ACCOUNT_SETTING","initiatedByMe":true},"trustBannerAction":4294967295},"messageType":"conversation","messageTimestamp":1741782230,"instanceId":"e62e7ca2-12dd-4af3-9d93-70520abc12b2","source":"android"},"destination":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","date_time":"2025-03-12T09:23:51.133Z","sender":"557381558133@s.whatsapp.net","server_url":"https://chat.jhonysouza.online","apikey":"6F9B4AFB2CB2-455D-B2F0-A45820F32742"},"webhookUrl":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","executionMode":"production"}}]},"versionId":"7b1b1aca-7c1c-4b26-8f42-b8e5c22a4fc7","triggerCount":1,"tags":[]}