[02]-[rastreio-wapp]-comprou-W6mSlXIOgVAgcGD5.json
{"createdAt":"2025-03-05T01:15:36.233Z","updatedAt":"2025-03-22T02:34:25.908Z","id":"W6mSlXIOgVAgcGD5","name":"[02] [RASTREIO WAPP] Comprou","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"93f376b9-94b1-49ee-acdb-9b5109ce7c91","name":"telefone","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].split('@')[0] }}","type":"string"},{"id":"77428f71-1cdf-4aa3-a261-34c72470d547","name":"Atendente","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"instance\"] }}","type":"string"}]},"options":{}},"id":"75014c5b-f3c0-46f7-b6de-1b0929db37a5","name":"informações","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,260]},{"parameters":{"type":"SHA256","value":"={{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}","dataPropertyName":"dataPhone"},"id":"8a9c27a0-4a56-4d98-8fa9-a3f5bce0c840","name":"dataPhone","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-200,540]},{"parameters":{"jsCode":"// Função para procurar \"dataset\" e \"page\" em qualquer lugar do objeto\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta o campo \"dataset\" se existir\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            }\n            // Coleta o campo \"page\" se existir\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;\n\n\n"},"id":"b18216c5-8d0e-448b-96f7-f03d880856da","name":"extrair page id e id do pixel - dataset","type":"n8n-nodes-base.code","typeVersion":2,"position":[-620,800]},{"parameters":{"options":{"includeInputFields":true,"timezone":"America/Sao_Paulo"}},"id":"9cd22588-ebab-4eb1-bd8a-5ce14873720f","name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-620,540]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v20.0/433280459806418/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"Purchase\",\n      \"event_time\": {{ $('Date Timestamp').item.json.dataTimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": [\n          \"{{ $('dataPhone').item.json.dataPhone }}\"\n        ],\n        \"ctwa_clid\": \"{{ $('dataPhone').item.json.ctwaclid }}\",\n        \"page_id\": \"{{ $json.page[0] }}\"\n      },\n      \"custom_data\": {\n        \"currency\": \"BRL\",\n        \"value\": \"{{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"valor\"] }}\",\n        \"content_name\": \"{{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"produto\"] }}\"\n      }\n    }\n  ]\n}\n","options":{}},"id":"d0d4f112-826d-4761-8ca0-db1423a681be","name":"Enviar o purchase para a Meta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,800]},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('Google Cloud Firestore').item.json.source_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"},{"name":"fields","value":"tracking_specs"}]},"options":{}},"id":"f9453301-32ee-4a20-b451-0b11252a7cf7","name":"Buscar o ID do pixel vinculado ao anúncio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-840,800]},{"parameters":{},"id":"673ea6fc-fa8e-4bc0-8e0e-bd53dd7779c3","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2000,540]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $item(\"0\").$node[\"Data formatada\"].json[\"formattedDate\"] }}","Status":"={{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"status\"] }}","Phone":"=https://wa.me/+{{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}","Source ID":"={{ $node[\"Google Cloud Firestore\"].json[\"source_id\"] }}","Produto":"={{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"produto\"] }}","Valor":"={{ JSON.stringify($item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"valor\"]) }}","Anúncio":"={{ $node[\"Google Cloud Firestore\"].json[\"source_url\"] }}","Atendente":"={{ $item(\"0\").$node[\"Code3\"].json[\"Atendente\"] }}"},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ecddda10-5526-4055-8f33-cc2fdb396fcb","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,800],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"operation":"formatDate","date":"={{ $item(\"0\").$node[\"Date & Time2\"].json[\"currentDate\"] }}","format":"custom","customFormat":"dd/MM/yyyy","options":{"timezone":true}},"id":"c30bd560-9753-4874-bdc9-0c3c82cb03d8","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[20,800]},{"parameters":{"assignments":{"assignments":[{"id":"a5d36b7a-2e5f-47d7-8510-1f4562ba52ed","name":"Mensagem","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"c3b5b12c-ad1d-4199-b230-28e25bfe21b6","name":"body.data.message.extendedTextMessage.text","value":"={{ $('Execute Workflow Trigger').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"2ec3e34a-f574-4138-a778-7e68515e4dde","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,540]},{"parameters":{"operation":"formatDate","date":"={{ $node[\"Date & Time\"].json[\"currentDate\"] }}","format":"X","outputFieldName":"dataTimestamp","options":{"includeInputFields":true}},"id":"0b5ed41c-1b9d-4a1f-be78-ab93ab6feacd","name":"Date Timestamp","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-420,540]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4f1ba5c3-cf50-4062-aeca-53e133736297","leftValue":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","rightValue":"confirmado","operator":{"type":"string","operation":"contains"}},{"id":"e891443c-29d9-4506-a31f-2f0a091a1c58","leftValue":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"extendedTextMessage\"][\"text\"] }}","rightValue":"Seu pedido foi confirmado","operator":{"type":"string","operation":"contains"}},{"id":"af192ecf-b603-4229-8218-68666bea8c5b","leftValue":"={{ $node[\"Execute Workflow Trigger\"].json[\"content\"][\"data\"][\"message\"][\"conversation\"] }}","rightValue":"Seu pedido foi confirmado","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"4013d704-86da-4d02-9bdd-a6c6ecfcce70","name":"Filtrar mensagem","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-1440,540]},{"parameters":{"jsCode":"// A variável 'mensagem' será fornecida através de uma entrada de dados (como um campo JSON)\nconst mensagem = $json[\"Mensagem\"];\n\n// Função para capturar os valores entre asteriscos\nfunction capturarValores(mensagem) {\n    const regex = /\\*(.*?)\\*/g; // Expressão regular para capturar tudo que está entre asteriscos\n    let valores = [];\n    let match;\n    \n    while ((match = regex.exec(mensagem)) !== null) {\n        valores.push(match[1]);\n    }\n\n    return valores;\n}\n\n// Função para converter o valor em número (caso seja um valor monetário)\nfunction converterParaNumero(valor) {\n    // Verifica se o valor é um valor monetário (começa com \"R$\")\n    if (valor.includes(\"R$\")) {\n        // Remove \"R$\" e substitui a vírgula por ponto, e converte para número\n        return parseFloat(valor.replace(\"R$\", \"\").replace(\",\", \".\"));\n    }\n    // Caso não seja um valor monetário, retorna o valor original (em string ou número)\n    return isNaN(valor) ? valor : parseFloat(valor);\n}\n\n// Captura os valores\nconst valoresCapturados = capturarValores(mensagem);\n\n// Renomeia as chaves conforme solicitado e retorna cada valor separado\nreturn valoresCapturados.map((valor, index) => {\n    let chave;\n    let valorConvertido = converterParaNumero(valor); // Converte para número quando necessário\n    \n    // Define as chaves conforme o conteúdo encontrado\n    if (valor.includes(\"pedido\")) {\n        chave = \"Status\";\n    } else if (valor.includes(\"VisioNutra\")) {\n        chave = \"Produto\";\n    } else if (valor.includes(\"R$\")) {\n        chave = \"Valor\";\n    }\n\n    return { json: { [chave]: valorConvertido } };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1980,800],"id":"25c4bcc9-c365-42d4-89f9-0d52d50ca850","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adf9a3bf-ced4-488e-aecd-66ae4db769a2","leftValue":"={{ $('Google Cloud Firestore').item.json.ctwaclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1060,800],"id":"1eb5cd72-6aeb-4cbd-905a-ff4970be7e77","name":"If"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"jhony-bd","collection":"Leads","updateKey":"phone","columns":"produto,valor,status,phone,atendente"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-1260,800],"id":"1533a1d6-f8d0-4595-9528-7768770b0d3e","name":"Google Cloud Firestore 2","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"authentication":"serviceAccount","projectId":"jhony-bd","collection":"Leads","documentId":"={{ $json[\"telefone\"] }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-1180,540],"id":"e9729eda-d2fb-4960-8ed3-8dfd8ad3ae16","name":"Google Cloud Firestore","alwaysOutputData":true,"credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"assignments":{"assignments":[{"id":"19c15785-aa9e-434b-b838-c2a167ddc84b","name":"produto","value":"={{ $item(\"1\").$node[\"Code\"].json[\"Produto\"] }}","type":"string"},{"id":"9a9cb607-abb6-49e6-bf1e-5bfc6c2218a1","name":"valor","value":"={{ $item(\"2\").$node[\"Code\"].json[\"Valor\"] }}","type":"number"},{"id":"d3da59b7-10b1-4a0a-a33b-2dbaa49c63f7","name":"status","value":"Comprou","type":"string"},{"id":"30b7e9bd-e622-4916-8eef-43f0c339ad00","name":"phone","value":"={{ $item(\"0\").$node[\"informações1\"].json[\"telefone\"] }}","type":"string"},{"id":"e2fd1358-27e8-4ceb-83ce-33639b4ae3bc","name":"atendente","value":"={{ $item(\"0\").$node[\"Code3\"].json[\"Atendente\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,800],"id":"b7a8d539-be0c-4366-b00d-5676dc81a5b1","name":"Edit Fields1","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-820,1100],"id":"a27455a2-d7b9-42a1-baf3-8337c138b4a2","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15c2e701-e05c-445d-9fa4-da5852fe5dd9","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-920,540],"id":"575ce7fa-c4bd-420b-bf20-1c3d6c1d4487","name":"If1"},{"parameters":{"jsCode":"// A variável 'mensagem' será fornecida através de uma entrada de dados (como um campo JSON)\nconst mensagem = $json[\"Mensagem\"];\n\n// Função para capturar os valores entre asteriscos\nfunction capturarValores(mensagem) {\n    const regex = /\\*(.*?)\\*/g; // Expressão regular para capturar tudo que está entre asteriscos\n    let valores = [];\n    let match;\n    \n    while ((match = regex.exec(mensagem)) !== null) {\n        valores.push(match[1]);\n    }\n\n    return valores;\n}\n\n// Função para converter o valor em número (caso seja um valor monetário)\nfunction converterParaNumero(valor) {\n    // Verifica se o valor é um valor monetário (começa com \"R$\")\n    if (valor.includes(\"R$\")) {\n        // Remove \"R$\" e substitui a vírgula por ponto, e converte para número\n        return parseFloat(valor.replace(\"R$\", \"\").replace(\",\", \".\"));\n    }\n    // Caso não seja um valor monetário, retorna o valor original (em string ou número)\n    return isNaN(valor) ? valor : parseFloat(valor);\n}\n\n// Captura os valores\nconst valoresCapturados = capturarValores(mensagem);\n\n// Renomeia as chaves conforme solicitado e retorna cada valor separado\nreturn valoresCapturados.map((valor, index) => {\n    let chave;\n    let valorConvertido = converterParaNumero(valor); // Converte para número quando necessário\n    \n    // Define as chaves conforme o conteúdo encontrado\n    if (valor.includes(\"pedido\")) {\n        chave = \"Status\";\n    } else if (valor.includes(\"VisioNutra\")) {\n        chave = \"Produto\";\n    } else if (valor.includes(\"R$\")) {\n        chave = \"Valor\";\n    }\n\n    return { json: { [chave]: valorConvertido } };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,260],"id":"d39fb384-9018-4b5a-94b7-f1cc51e64fa4","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"a5d36b7a-2e5f-47d7-8510-1f4562ba52ed","name":"Mensagem","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"c3b5b12c-ad1d-4199-b230-28e25bfe21b6","name":"body.data.message.extendedTextMessage.text","value":"={{ $('Execute Workflow Trigger').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"3c4d51d8-3cc4-44e0-bf82-697999697b47","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,260]},{"parameters":{"options":{"includeInputFields":true,"timezone":"America/Sao_Paulo"}},"id":"aa0ce0fa-d948-4bdd-9e78-37416ec28b4e","name":"Date & Time1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-400,260],"executeOnce":true},{"parameters":{"operation":"formatDate","date":"={{ $json[\"currentDate\"] }}","format":"custom","customFormat":"dd/MM/yyyy","options":{}},"id":"e58cd717-5e9e-4a02-ac19-e8e37ba20d22","name":"Data formatada1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-200,260],"executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-200,800],"id":"ce5ee3c1-4b60-4f6c-8712-feef29a1446c","name":"Date & Time2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57704d93-0256-4f65-ae27-b6b58cc646d4","leftValue":"={{ $node[\"Code3\"].json[\"Atendente\"] }}","rightValue":"Jhony Atendente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,800],"id":"646a6a60-196d-4428-8797-f3596afa16e7","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"b347c137-c006-460b-ba17-db92913defb1","name":"Data","value":"={{ $json.Data }}","type":"string"},{"id":"82650ed4-4233-467b-a528-90474aec9e9f","name":"Status","value":"={{ $json.Status }}","type":"string"},{"id":"b91bc107-2371-4590-8123-ef74e8918c9e","name":"Phone","value":"={{ $json.Phone }}","type":"string"},{"id":"39955dda-50f2-4af2-a346-123dc18827ab","name":"Source ID","value":"={{ $json[\"Source ID\"] }}","type":"string"},{"id":"2b6a2e85-a7b6-4cfa-8ec3-2bec7355a537","name":"Produto","value":"={{ $json.Produto }}","type":"string"},{"id":"db508532-2ea6-4774-b615-97853d455260","name":"Valor","value":"={{ $json.Valor }}","type":"string"},{"id":"f3d5833a-0815-4561-bdd6-0357d624d134","name":"Anúncio","value":"={{ $json[\"Anúncio\"] }}","type":"string"},{"id":"08fdc278-2ded-4f69-b867-c801e30b696e","name":"Atendente","value":"={{ $item(\"0\").$node[\"Code3\"].json[\"Atendente\"] }}","type":"string"},{"id":"ae9c05f8-d571-4607-b8cc-6a9c5aa78765","name":"Nome","value":"={{ $node[\"Google Cloud Firestore\"].json[\"nome\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,620],"id":"a6863f0d-159b-41ea-beb5-894fcfc381e3","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"b347c137-c006-460b-ba17-db92913defb1","name":"Data","value":"={{ $json.Data }}","type":"string"},{"id":"82650ed4-4233-467b-a528-90474aec9e9f","name":"Status","value":"={{ $json.Status }}","type":"string"},{"id":"b91bc107-2371-4590-8123-ef74e8918c9e","name":"Phone","value":"={{ $json.Phone }}","type":"string"},{"id":"39955dda-50f2-4af2-a346-123dc18827ab","name":"Source ID","value":"={{ $json[\"Source ID\"] }}","type":"string"},{"id":"2b6a2e85-a7b6-4cfa-8ec3-2bec7355a537","name":"Produto","value":"={{ $json.Produto }}","type":"string"},{"id":"db508532-2ea6-4774-b615-97853d455260","name":"Valor","value":"={{ $json.Valor }}","type":"string"},{"id":"f3d5833a-0815-4561-bdd6-0357d624d134","name":"Anúncio","value":"={{ $json[\"Anúncio\"] }}","type":"string"},{"id":"08fdc278-2ded-4f69-b867-c801e30b696e","name":"Atendente","value":"={{ $item(\"0\").$node[\"Code3\"].json[\"Atendente\"] }}","type":"string"},{"id":"770c69e8-1094-4f77-b212-029682593e17","name":"Nome","value":"={{ $node[\"Google Cloud Firestore\"].json[\"nome\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,960],"id":"242b6ed1-8fc9-469a-8a74-2e6e4a4d8460","name":"Edit Fields4"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1z0NkhzyK6VOyH4wiwGlHGd6e2QRSzEfZMyBOaUyHHvI/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z0NkhzyK6VOyH4wiwGlHGd6e2QRSzEfZMyBOaUyHHvI/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1f765e01-1c84-4296-a044-44557563398c","name":"Gabriel Planilha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,960],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"jsCode":"// Versão com debug\nfunction replaceAtendenteName(items) {\n  console.log(\"Dados recebidos:\", JSON.stringify(items));\n  \n  const result = items.map(item => {\n    const itemStr = JSON.stringify(item);\n    const updatedStr = itemStr.replace(/Leonardo/g, \"Gabriel\");\n    return JSON.parse(updatedStr);\n  });\n  \n  console.log(\"Dados após substituição:\", JSON.stringify(result));\n  return result;\n}\n\nreturn replaceAtendenteName($input.all());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,260],"id":"1dabb022-d5d3-4a35-891a-5344ad672666","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"93f376b9-94b1-49ee-acdb-9b5109ce7c91","name":"telefone","value":"={{ $json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].split('@')[0] }}","type":"string"}]},"options":{}},"id":"993ddc26-e988-49bb-b9b4-bf6a567c8329","name":"informações1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,540]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $node[\"Data formatada1\"].json[\"formattedDate\"] }}","Status":"Comprou","Phone":"=https://wa.me/+{{ $node[\"informações\"].json[\"telefone\"] }}","Produto":"={{ $item(\"1\").$node[\"Code1\"].json[\"Produto\"] }}","Valor":"={{ $item(\"2\").$node[\"Code1\"].json[\"Valor\"] }}","Source ID":"Venda Indireta","Atendente":"={{ $node[\"Code2\"].json[\"Atendente\"] }}"},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d3ccfae3-f476-4dc7-a87a-1b5595d9cc5b","name":"Google Sheets GERAL","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[380,260],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1z0NkhzyK6VOyH4wiwGlHGd6e2QRSzEfZMyBOaUyHHvI/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z0NkhzyK6VOyH4wiwGlHGd6e2QRSzEfZMyBOaUyHHvI/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b9d6606a-4f86-4668-a5de-235cd95b5efa","name":"Gabriel Planilha1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,320],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"57704d93-0256-4f65-ae27-b6b58cc646d4","leftValue":"={{ $json[\"Atendente\"] }}","rightValue":"Jhony Atendente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,260],"id":"2d73289d-585d-4e9d-85cd-2795601e032f","name":"If3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9914ad3f-fc40-450e-8b9e-7262c3672f15","name":"Jhony Planilha","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,620],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Atendente","displayName":"Atendente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"39204afa-d539-40ca-a5c1-61929cf8866a","name":"Jhony Planilha1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,140],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"jsCode":"// Versão com debug\nfunction replaceAtendenteName(items) {\n  console.log(\"Dados recebidos:\", JSON.stringify(items));\n  \n  const result = items.map(item => {\n    const itemStr = JSON.stringify(item);\n    const updatedStr = itemStr.replace(/Leonardo/g, \"Gabriel\");\n    return JSON.parse(updatedStr);\n  });\n  \n  console.log(\"Dados após substituição:\", JSON.stringify(result));\n  return result;\n}\n\nreturn replaceAtendenteName($input.all());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1640,800],"id":"93d5d37b-5698-4e11-96e0-932af126fc12","name":"Code3"},{"parameters":{"assignments":{"assignments":[{"id":"08fdc278-2ded-4f69-b867-c801e30b696e","name":"Atendente","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"instance\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1800,800],"id":"0063ba17-c496-45bf-a69c-399a30158032","name":"Edit Fields5","executeOnce":true}],"connections":{"informações":{"main":[[{"node":"Code2","type":"main","index":0}]]},"dataPhone":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"extrair page id e id do pixel - dataset":{"main":[[{"node":"Enviar o purchase para a Meta","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date Timestamp","type":"main","index":0}]]},"Enviar o purchase para a Meta":{"main":[[{"node":"Date & Time2","type":"main","index":0}]]},"Buscar o ID do pixel vinculado ao anúncio":{"main":[[{"node":"extrair page id e id do pixel - dataset","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"informações1","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Date Timestamp":{"main":[[{"node":"dataPhone","type":"main","index":0}]]},"Filtrar mensagem":{"main":[[{"node":"Google Cloud Firestore","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"If":{"main":[[{"node":"Buscar o ID do pixel vinculado ao anúncio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Google Cloud Firestore 2":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Cloud Firestore 2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Date & Time","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Data formatada1","type":"main","index":0}]]},"Data formatada1":{"main":[[{"node":"informações","type":"main","index":0}]]},"Date & Time2":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Jhony Planilha","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Gabriel Planilha","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets GERAL","type":"main","index":0}]]},"informações1":{"main":[[{"node":"Filtrar mensagem","type":"main","index":0}]]},"Google Sheets GERAL":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Jhony Planilha1","type":"main","index":0}],[{"node":"Gabriel Planilha1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Code3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"headers":{"host":"webhook.jhonysouza.online","user-agent":"axios/1.7.9","content-length":"1684","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.jhonysouza.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f87a86bb5137","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Leonardo atendimento","data":{"key":{"remoteJid":"557599744281@s.whatsapp.net","fromMe":true,"id":"3EB037E07F9CE3A524FDD7"},"pushName":"Gabriel Suporte","status":"SERVER_ACK","message":{"conversation":"Parabéns! 🥳 *Seu pedido foi confirmado!* O Laboratório já recebeu a ordem de produção do seu pedido e em breve ele será enviado para o seu endereço, iniciando assim o seu tratamento. Assim que o código de rastreio estiver disponível, eu o enviarei para que você possa acompanhar o envio. 📦\n\nAlém disso, você aproveitou uma oferta especial: *VisioNutra tratamento de 3 meses* com R$200,00 de desconto, incluindo um brinde 🎁, por apenas *R$297,00*. \n\nFico à disposição para qualquer dúvida ou suporte caso precise. 🙏 Deus abençõe"},"contextInfo":{"conversionSource":"FB_Ads","conversionData":"QVJBZDg3alI0V0RrQ09zdjRpSHc3UFM2d0YzVnNtcTNxMFJPSTlKSTJiX25ESDVLQk9OUGttRjFabmppWWlxVmZxV2RmaUhlbURSSDA3U0RtZ0xhR25UbUFLQ0FFQkNramVseV9SNkMwUXh0WFRGRkpyTll4V3BQZENBTDV1MTBYazJhczkxaGRvdlJNYlJ1NlRiMDBHc0NwY2FOR0xRUlVxWUcxYlNObjdudzZFcXRCZ3ZPcXZVMU9nRFJyZHBFeXRnNER2RVdiVl8ySmVFTWJZT2lRWE9fTHhBUUpNX1VvNmlXRU9tODVKTXBBc0tHZVZpVnNrZy1McjMxYk5aS3UwRlRoS1pqZGxmdmFkY0lwcVlpN1F6Q2pmLTU4c3pVbDFubGVXQUo1cnc2Qnp0YnVGZmRPbkRvcmlwTF9kVS0="},"messageType":"conversation","messageTimestamp":1742482878,"instanceId":"e62e7ca2-12dd-4af3-9d93-70520abc12b2","source":"web"},"destination":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","date_time":"2025-03-20T12:01:18.537Z","sender":"557381558133@s.whatsapp.net","server_url":"https://chat.jhonysouza.online","apikey":"6F9B4AFB2CB2-455D-B2F0-A45820F32742"},"webhookUrl":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","executionMode":"production"}}]},"versionId":"d6be996d-a6d6-47ee-a1ef-10a943abf81b","triggerCount":0,"tags":[]}