[03]-[web-purchase]-coinzz-vendas-MpIJSWNH8qsIEXoL.json
{"createdAt":"2025-03-06T19:51:00.404Z","updatedAt":"2025-03-18T14:40:36.108Z","id":"MpIJSWNH8qsIEXoL","name":"[03] [Web Purchase] Coinzz Vendas","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"5932ff17-f371-4397-a9db-9edcbd1e3c49","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1120,160],"id":"68215f59-23b1-4e15-9c2d-b00061b901f4","name":"Webhook","webhookId":"5932ff17-f371-4397-a9db-9edcbd1e3c49"},{"parameters":{"authentication":"serviceAccount","projectId":"jhony-bd","collection":"Leads","documentId":"={{ $node[\"Dados Formatados\"].json[\"formattedPhoneNumber\"] }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[2360,160],"id":"b878207b-cfc2-4460-b058-fd4d42216bd3","name":"Google Cloud Firestore","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"assignments":{"assignments":[{"id":"87db26d2-d685-4104-8f10-a907b664717b","name":"phone","value":"={{ $json[\"formattedPhoneNumber\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2020,160],"id":"15dca4d1-baf0-45c9-abab-7242fe540e71","name":"Edit Fields"},{"parameters":{"type":"SHA256","value":"={{ $json[\"phone\"] }}","dataPropertyName":"dataPh"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1120,380],"id":"2fb3bf8b-ebc1-479f-aa49-fc1f065e03b4","name":"dataPh"},{"parameters":{"type":"SHA256","value":"={{ $node[\"Dados Formatados\"].json[\"firstName\"] }}","dataPropertyName":"dataFn"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1340,380],"id":"23b0ea01-337b-4d7a-aa2e-486042719899","name":"dataFn"},{"parameters":{"type":"SHA256","value":"={{ $node[\"Dados Formatados\"].json[\"lastName\"] }}","dataPropertyName":"dataLn"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1540,380],"id":"1de105c4-a744-4279-b317-cc077f75d1ec","name":"dataLn"},{"parameters":{"type":"SHA256","value":"={{ $node[\"Dados Formatados\"].json[\"cleanedDistrict\"] }}","dataPropertyName":"dataCt"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1740,380],"id":"925427ba-3a68-4cbf-9c5e-8d387fc6211e","name":"dataCt"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v20.0/433280459806418/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"event_name\": \"Purchase\",\n      \"event_time\": {{ $json[\"formattedDate\"] }},\n      \"action_source\": \"website\",\n      \"event_source_url\": \"https://www.jhonysouza.online\",\n      \"event_id\": \"{{ $json[\"formattedDate\"] }}_{{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_number\"] }}\",\n      \"user_data\": {\n        \"ph\": \"{{ $node[\"dataFn\"].json[\"dataPh\"] }}\",\n        \"fn\": \"{{ $node[\"dataFn\"].json[\"dataFn\"] }}\",\n        \"ln\": \"{{ $node[\"dataLn\"].json[\"dataLn\"] }}\",\n        \"ct\": \"{{ $node[\"dataCt\"].json[\"dataCt\"] }}\",\n        \"st\": \"{{ $node[\"dataCn\"].json[\"dataSt\"] }}\",\n        \"country\": \"{{ $node[\"dataCn\"].json[\"dataCn\"] }}\",\n        \"ctwa_clid\": \"{{ $node[\"Google Cloud Firestore\"].json[\"ctwaclid\"] }}\",\n        \"external_id\": \"{{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}_{{ $json[\"formattedDate\"] }}\"\n      },\n      \"custom_data\": {\n        \"currency\": \"BRL\",\n        \"value\": {{ $node[\"Google Cloud Firestore\"].json[\"valor\"] }},\n        \"content_ids\": [\"{{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_number\"] }}\"],\n        \"content_name\": \"{{ $node[\"Google Cloud Firestore\"].json[\"produto\"] }}\",\n        \"content_type\": \"product\",\n        \"contents\": [\n          {\n            \"id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_number\"] }}\",\n            \"quantity\": 1,\n            \"item_price\": {{ $node[\"Google Cloud Firestore\"].json[\"valor\"] }}\n          }\n        ],\n        \"num_items\": 1,\n        \"order_id\": \"{{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_number\"] }}\"\n      }\n    }\n  ]\n}","options":{}},"id":"0131dbd0-2994-4ecd-9310-ea12a52ed06f","name":"Enviar o purchase para a Meta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,600]},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1120,600],"id":"1cbe9801-76e4-4776-824e-7ff280481488","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $node[\"Date & Time\"].json[\"currentDate\"] }}","format":"X","options":{"timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1740,600],"id":"01926e83-dde7-4d32-b406-def6425e03e5","name":"Date & Time1"},{"parameters":{"type":"SHA256","value":"={{ $node[\"Dados Formatados\"].json[\"state\"] }}","dataPropertyName":"dataSt"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1960,380],"id":"50f9553f-cdd8-4424-9cfe-4761323a2a04","name":"dataSt"},{"parameters":{"type":"SHA256","value":"={{ $node[\"Dados Formatados\"].json[\"country\"] }}","dataPropertyName":"dataCn"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[2160,380],"id":"60f63519-26b8-4332-85e3-6503884de105","name":"dataCn"},{"parameters":{"type":"SHA256","value":"={{ $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_zip_code\"] }}","dataPropertyName":"dataZp"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[2360,380],"id":"f2a5c012-da62-4228-ab40-0df96764dc3a","name":"dataZp"},{"parameters":{"jsCode":"// Função 1: Formata o número de telefone removendo o '+', espaços e o primeiro 9 após o DDD\nfunction formatPhoneNumber(phoneNumber) {\n    // Verifica se o número não está vazio\n    if (!phoneNumber || typeof phoneNumber !== 'string') {\n        return '';\n    }\n    \n    // Remove o '+' e os espaços\n    let formattedNumber = phoneNumber.replace(/\\+|\\s/g, '');\n    \n    // Verifica se é um número brasileiro (começa com 55)\n    if (formattedNumber.startsWith('55')) {\n        // Se o número tiver mais de 12 dígitos, precisamos verificar se tem o 9 após o DDD para removê-lo\n        if (formattedNumber.length > 12) {\n            const ddd = formattedNumber.substring(2, 4);\n            // Verifica se o dígito após o DDD é 9\n            if (formattedNumber.charAt(4) === '9') {\n                // Remove o 9 após o DDD\n                formattedNumber = '55' + ddd + formattedNumber.substring(5);\n            }\n        }\n    }\n    \n    return formattedNumber;\n}\n\n// Função 2: Separa o nome completo em nome e sobrenome\nfunction splitNameAndLastName(fullName) {\n    // Verifica se o nome não está vazio\n    if (!fullName || typeof fullName !== 'string' || fullName.trim() === '') {\n        return {\n            firstName: '',\n            lastName: ''\n        };\n    }\n    // Divide o nome completo em partes\n    const nameParts = fullName.trim().split(' ');\n    \n    // Se houver apenas uma parte, retorna ela como primeiro nome e sobrenome vazio\n    if (nameParts.length === 1) {\n        return {\n            firstName: nameParts[0],\n            lastName: ''\n        };\n    }\n    \n    // Extrai o primeiro nome (primeira parte)\n    const firstName = nameParts[0];\n    \n    // Junta o restante como sobrenome\n    const lastName = nameParts.slice(1).join(' ');\n    \n    return {\n        firstName: firstName,\n        lastName: lastName\n    };\n}\n\n// Função 3: Remove espaços e caracteres especiais de um texto\nfunction cleanDistrictName(district) {\n    // Verifica se o distrito não está vazio\n    if (!district || typeof district !== 'string') {\n        return '';\n    }\n    // Converte para minúsculas e remove espaços e caracteres especiais\n    return district\n        .toLowerCase()\n        .normalize('NFD')                 // Normaliza caracteres acentuados\n        .replace(/[\\u0300-\\u036f]/g, '')  // Remove acentos\n        .replace(/[^a-z0-9]/g, '');       // Remove todos os caracteres que não são letras ou números\n}\n\n// Função 4: Converte texto para minúsculo\nfunction convertToLowerCase(text) {\n    // Verifica se o texto não está vazio\n    if (!text || typeof text !== 'string') {\n        return '';\n    }\n    \n    // Converte para minúsculo\n    return text.toLowerCase();\n}\n\n// Obtém os valores dos nós anteriores\nconst phoneNumber = $node[\"Webhook\"] ? $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_phone\"] : '';\nconst fullName = $node[\"Webhook\"] ? $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_name\"] : '';\nconst district = $node[\"Webhook\"] ? $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_address_district\"] : '';\nconst state = $node[\"Webhook\"] ? $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_address_state\"] : '';\nconst country = $node[\"Webhook\"] ? $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_address_country\"] : '';\n\n// Processa os dados\nconst formattedPhoneNumber = formatPhoneNumber(phoneNumber);\nconst nameObject = splitNameAndLastName(fullName);\nconst cleanedDistrict = cleanDistrictName(district);\nconst lowerCaseState = convertToLowerCase(state);\nconst lowerCaseCountry = convertToLowerCase(country);\n\n// Retorna todos os valores processados\nreturn {\n    formattedPhoneNumber: formattedPhoneNumber,\n    firstName: nameObject.firstName,\n    lastName: nameObject.lastName,\n    cleanedDistrict: cleanedDistrict,\n    state: lowerCaseState,\n    country: lowerCaseCountry\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,160],"id":"232a3c00-20e1-45d2-828c-d28f0b66c3af","name":"Dados Formatados"},{"parameters":{"content":"## Dados Hasheados","height":240,"width":1400,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,300],"id":"4dcaa95b-c4c0-41b0-aab3-1deb4b267ab7","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9bd4671-12ed-433c-bd44-565378720635","leftValue":"={{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_status\"] }}","rightValue":"Em análise","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,160],"id":"90d88f0b-b126-46a8-b02a-7a86c37b41a1","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"dataPh","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Cloud Firestore","type":"main","index":0}]]},"dataPh":{"main":[[{"node":"dataFn","type":"main","index":0}]]},"dataFn":{"main":[[{"node":"dataLn","type":"main","index":0}]]},"dataLn":{"main":[[{"node":"dataCt","type":"main","index":0}]]},"dataCt":{"main":[[{"node":"dataSt","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Enviar o purchase para a Meta","type":"main","index":0}]]},"dataSt":{"main":[[{"node":"dataCn","type":"main","index":0}]]},"dataCn":{"main":[[{"node":"dataZp","type":"main","index":0}]]},"Dados Formatados":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"dataZp":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"If":{"main":[[{"node":"Dados Formatados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.jhonysouza.online","user-agent":"GuzzleHttp/7","content-length":"1097","baggage":"sentry-trace_id=a53bfc5da1ee4598b7dc43fabb97650f,sentry-sample_rate=1,sentry-transaction=%2Fcheckout%2Ffinalize,sentry-public_key=c64fada9fbee0b3ccafedc30aade7e9f,sentry-environment=production,sentry-sampled=true","content-type":"application/json","sentry-trace":"a53bfc5da1ee4598b7dc43fabb97650f-5cc87db7323241c3-1","traceparent":"00-a53bfc5da1ee4598b7dc43fabb97650f-5cc87db7323241c3-01","x-forwarded-for":"50.16.135.114","x-forwarded-host":"webhook.jhonysouza.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f87a86bb5137","x-real-ip":"50.16.135.114","accept-encoding":"gzip"},"params":{},"query":{},"body":{"Postack":"n8n","client":{"client_name":"Milton Marcelino de freitas","client_phone":"+55 92991773933","client_documment":"235.968.139-72","client_email":null,"client_zip_code":"69730000","client_street":"Rua Naive Batista","client_address_number":"50","client_address_district":"Novo Horizonte","client_address_comp":null,"client_address_city":"Novo Airão","client_address_state":"AM","client_address_country":"BR"},"order":{"first_order":true,"second_order":false,"date_order":"2025-03-18 01:27:37","deadline_delivery":2,"order_number":"ord8z6qy","order_status":"Em análise","shipping_status":"Aguardando análise","tracking_code":null,"order_quantity":4,"product_name":"Visionutra Pro","order_final_price":"397.00","method_payment":"Venda pós-paga","total_installments":1,"qrcode_pix":null,"url_pix":null,"url_bank_slip":null,"producer_name":"Vinicius De","producer_email":"midascompanymkt@gmail.com","affiliate_name":"Jhony","affiliate_email":"jhony.souza337@hotmail.com"},"utms":{"utm_source":null,"utm_medium":null,"utm_campaign":null,"utm_content":null,"utm_term":null}},"webhookUrl":"https://webhook.jhonysouza.online/webhook/5932ff17-f371-4397-a9db-9edcbd1e3c49","executionMode":"production"}}]},"versionId":"6d2ecb9b-1237-4497-b0d9-6b08b645047d","triggerCount":1,"tags":[]}