[coinzz]-códigos-de-rastreio-mVcmFA3IqiQjGqQ0.json
{"createdAt":"2025-03-28T15:58:41.977Z","updatedAt":"2025-04-02T19:12:52.841Z","id":"mVcmFA3IqiQjGqQ0","name":"[COINZZ] Códigos de Rastreio","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"8a8e1cea-9363-45c9-b894-83256ee9314e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"5dde76b9-6028-4e80-bb89-3454fa4e30c3","name":"Webhook","webhookId":"8a8e1cea-9363-45c9-b894-83256ee9314e"},{"parameters":{"assignments":{"assignments":[{"id":"09b5b7db-044f-4e25-870d-57a73f53997c","name":"Data","value":"={{ $json[\"formattedDate\"] }}","type":"string"},{"id":"fa22820a-552c-468c-b1fe-4ab76b68b463","name":"Nome","value":"={{ $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_name\"] }}","type":"string"},{"id":"6227c8fc-83ff-4bfa-af98-1801adaeb97c","name":"Phone","value":"={{ $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_phone\"].replace(/\\D/g, '') }}","type":"string"},{"id":"003988df-a376-47ef-888e-445690b3695c","name":"Cpf","value":"={{ $node[\"Webhook\"].json[\"body\"][\"client\"][\"client_documment\"] }}","type":"string"},{"id":"1c9b0c0a-6c6f-4da9-ad8e-4f853800589e","name":"Cód pedido","value":"={{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_number\"] }}","type":"string"},{"id":"08c37685-4b62-489f-863e-886b9cb7f164","name":"Status","value":"={{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_status\"] }}","type":"string"},{"id":"2fb9002b-b44a-4ec4-bb08-6b86e1ee3fdd","name":"Cód Rastreio","value":"={{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"tracking_code\"] }}","type":"string"},{"id":"ae18bbac-2d56-4ada-adb1-663a82d8b8ed","name":"Valor","value":"={{ $node[\"Webhook\"].json[\"body\"][\"order\"][\"order_final_price\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"eb11e183-48e9-4ca7-9a65-877e6d4f85f4","name":"Edit Fields"},{"parameters":{"operation":"formatDate","date":"={{ $json[\"body\"][\"order\"][\"date_order\"] }}","format":"custom","customFormat":"dd/MM/yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[220,0],"id":"248d6e65-a444-4fbb-aa5a-f00223caed10","name":"Date & Time"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"8c0685c8-21cb-4481-b099-9ada17bc8a30"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1380,-380],"id":"93c321f9-65ec-43fe-9d74-b861ec5a73e0","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Mgc6vHElPsAMA30wNbGl1sPZN4y9LNnLXsVj9Isqp1g/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":1546566537,"mode":"list","cachedResultName":"Cód Rastreio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Mgc6vHElPsAMA30wNbGl1sPZN4y9LNnLXsVj9Isqp1g/edit#gid=1546566537"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cpf","displayName":"Cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cód pedido","displayName":"Cód pedido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cód Rastreio","displayName":"Cód Rastreio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[660,0],"id":"8d792014-ec1b-427b-bc6c-ff6a9b9def28","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.jhonysouza.online","user-agent":"GuzzleHttp/7","content-length":"1147","baggage":"sentry-trace_id=7091b7c5274b415d88fb5c62e50860ca,sentry-sample_rate=1,sentry-transaction=%2Fexpedicoes%2Fcollect-traditional-expedition,sentry-public_key=c57d9bff39130451686a1647f8ab3bc3,sentry-environment=production,sentry-sampled=true","content-type":"application/json","sentry-trace":"7091b7c5274b415d88fb5c62e50860ca-194fadfc22c0425a","traceparent":"00-7091b7c5274b415d88fb5c62e50860ca-194fadfc22c0425a-00","x-forwarded-for":"50.16.135.114","x-forwarded-host":"webhook.jhonysouza.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f87a86bb5137","x-real-ip":"50.16.135.114","accept-encoding":"gzip"},"params":{},"query":{},"body":{"Postack":"n8n","client":{"client_name":"José Joaquim da Silva","client_phone":"+55 81991850484","client_documment":"733.274.844-49","client_email":null,"client_zip_code":"55042150","client_street":"Rua Eglantine do Rêgo Barros","client_address_number":"15","client_address_district":"José Carlos de Oliveira","client_address_comp":"Eglantine do Rêgo Barros, 15","client_address_city":"Caruaru","client_address_state":"PE","client_address_country":"BR"},"order":{"first_order":true,"second_order":false,"date_order":"2025-03-27 13:29:51","deadline_delivery":2,"order_number":"ord8xdkx","order_status":"Aguardando chegada","shipping_status":"Enviado","tracking_code":"AC429366715BR","order_quantity":4,"product_name":"Visionutra Pro","order_final_price":"397.00","method_payment":"Venda pós-paga","total_installments":1,"qrcode_pix":null,"url_pix":null,"url_bank_slip":null,"producer_name":"Vinicius De","producer_email":"midascompanymkt@gmail.com","affiliate_name":"Jhony","affiliate_email":"jhony.souza337@hotmail.com"},"utms":{"utm_source":null,"utm_medium":null,"utm_campaign":null,"utm_content":null,"utm_term":null}},"webhookUrl":"https://webhook.jhonysouza.online/webhook/5932ff17-f371-4397-a9db-9edcbd1e3c49","executionMode":"production"}}]},"versionId":"79613443-608b-4b36-b2ca-5ef4f26df07a","triggerCount":1,"tags":[]}