coinzz-vendas-MpIJSWNH8qsIEXoL.json
{"createdAt":"2025-03-06T19:51:00.404Z","updatedAt":"2025-03-18T02:53:41.842Z","id":"MpIJSWNH8qsIEXoL","name":"Coinzz Vendas","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"5932ff17-f371-4397-a9db-9edcbd1e3c49","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"68215f59-23b1-4e15-9c2d-b00061b901f4","name":"Webhook","webhookId":"5932ff17-f371-4397-a9db-9edcbd1e3c49"},{"parameters":{"assignments":{"assignments":[{"id":"87db26d2-d685-4104-8f10-a907b664717b","name":"phone","value":"={{ $json[\"body\"][\"client\"][\"client_phone\"] }}","type":"string"},{"id":"992e10fd-26de-4479-811d-93117e2b9682","name":"name","value":"={{ $json[\"body\"][\"client\"][\"client_name\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"15dca4d1-baf0-45c9-abab-7242fe540e71","name":"Edit Fields"},{"parameters":{"authentication":"serviceAccount","projectId":"jhony-bd","collection":"Leads","documentId":"={{ $node[\"Phone formatado\"].json[\"formattedPhoneNumber\"] }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[660,0],"id":"b878207b-cfc2-4460-b058-fd4d42216bd3","name":"Google Cloud Firestore","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"jsCode":"// Esta função separa o nome completo em nome e sobrenome\nfunction splitNameAndLastName(fullName) {\n    // Verifica se o nome não está vazio\n    if (!fullName || typeof fullName !== 'string' || fullName.trim() === '') {\n        return {\n            firstName: '',\n            lastName: ''\n        };\n    }\n\n    // Divide o nome completo em partes\n    const nameParts = fullName.trim().split(' ');\n    \n    // Se houver apenas uma parte, retorna ela como primeiro nome e sobrenome vazio\n    if (nameParts.length === 1) {\n        return {\n            firstName: nameParts[0],\n            lastName: ''\n        };\n    }\n    \n    // Extrai o primeiro nome (primeira parte)\n    const firstName = nameParts[0];\n    \n    // Junta o restante como sobrenome\n    const lastName = nameParts.slice(1).join(' ');\n    \n    return {\n        firstName: firstName,\n        lastName: lastName\n    };\n}\n\n// Obtém o nome completo do webhook\nconst fullName = $node[\"Edit Fields\"].json[\"name\"];\n\n// Separa o nome e sobrenome\nconst nameObject = splitNameAndLastName(fullName);\n\n// Retorna os valores para uso em outros nós\nreturn {\n    firstName: nameObject.firstName,\n    lastName: nameObject.lastName\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,0],"id":"a2a14eb7-ae3d-47c5-91ff-4be9edb251c4","name":"Nome e sobrenome"},{"parameters":{"jsCode":"// Esta função formata o número de telefone removendo o '+', espaços e o primeiro 9 após o DDD\nfunction formatPhoneNumber(phoneNumber) {\n    // Remove o '+' e os espaços\n    let formattedNumber = phoneNumber.replace(/\\+|\\s/g, '');\n    \n    // Se o número estiver no formato BR com 13 dígitos (incluindo o 9), precisamos remover o primeiro 9 após o DDD\n    if (formattedNumber.length === 13 && formattedNumber.startsWith('55')) {\n        // Extrair o DDD (2 dígitos após o 55)\n        const ddd = formattedNumber.substring(2, 4);\n        // Verificar se o próximo dígito é 9\n        if (formattedNumber.charAt(4) === '9') {\n            // Recompor o número sem o 9 após o DDD\n            formattedNumber = '55' + ddd + formattedNumber.substring(5);\n        }\n    }\n    \n    return formattedNumber;\n}\n\n// No n8n, o código correto para acessar os valores é:\nconst phoneNumber = $node[\"Edit Fields\"].json[\"phone\"];\nconst formattedPhoneNumber = formatPhoneNumber(phoneNumber);\n\n// Retorna o número formatado para uso no n8n\nreturn {formattedPhoneNumber};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"232a3c00-20e1-45d2-828c-d28f0b66c3af","name":"Phone formatado"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Phone formatado","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"Nome e sobrenome","type":"main","index":0}]]},"Phone formatado":{"main":[[{"node":"Google Cloud Firestore","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.jhonysouza.online","user-agent":"GuzzleHttp/7","content-length":"1090","baggage":"sentry-trace_id=92810b6f48c14b67a5b838145502eeb6,sentry-sample_rate=1,sentry-transaction=%2Fcheckout%2Ffinalize,sentry-public_key=c64fada9fbee0b3ccafedc30aade7e9f,sentry-environment=production,sentry-sampled=true","content-type":"application/json","sentry-trace":"92810b6f48c14b67a5b838145502eeb6-1eb0aa753dae4d7d-1","traceparent":"00-92810b6f48c14b67a5b838145502eeb6-1eb0aa753dae4d7d-01","x-forwarded-for":"50.16.135.114","x-forwarded-host":"webhook.jhonysouza.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f87a86bb5137","x-real-ip":"50.16.135.114","accept-encoding":"gzip"},"params":{},"query":{},"body":{"Postack":"n8n","client":{"client_name":"Carmen Lucia Leite","client_phone":"+55 79999446761","client_documment":"505.150.809-00","client_email":null,"client_zip_code":"49020060","client_street":"Rua Sílvio Cezar Leite","client_address_number":"188","client_address_district":"Salgado Filho","client_address_comp":null,"client_address_city":"Aracaju","client_address_state":"SE","client_address_country":"BR"},"order":{"first_order":true,"second_order":false,"date_order":"2025-03-17 23:19:49","deadline_delivery":2,"order_number":"ordwq5qe","order_status":"Em análise","shipping_status":"Aguardando análise","tracking_code":null,"order_quantity":4,"product_name":"Visionutra Pro","order_final_price":"397.00","method_payment":"Venda pós-paga","total_installments":1,"qrcode_pix":null,"url_pix":null,"url_bank_slip":null,"producer_name":"Vinicius De","producer_email":"midascompanymkt@gmail.com","affiliate_name":"Jhony","affiliate_email":"jhony.souza337@hotmail.com"},"utms":{"utm_source":null,"utm_medium":null,"utm_campaign":null,"utm_content":null,"utm_term":null}},"webhookUrl":"https://webhook.jhonysouza.online/webhook/5932ff17-f371-4397-a9db-9edcbd1e3c49","executionMode":"production"}}]},"versionId":"c7d5789b-b9dd-4413-b29f-3ed909cb8142","triggerCount":1,"tags":[]}