cruzamento-de-dados-2sLDdEBCsWJOkP3k.json
{"createdAt":"2025-03-12T14:20:37.861Z","updatedAt":"2025-04-02T18:55:49.975Z","id":"2sLDdEBCsWJOkP3k","name":"Cruzamento de Dados","active":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Comprou"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[300,-120],"id":"642982fc-1281-4ae3-9ecd-90f9b9dc2a2e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"Source ID","field2":"source_id"}]},"options":{"multipleMatches":"first"}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[620,0],"id":"1ea42e95-eb4a-4f12-bba2-600220ff9381","name":"Merge"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":792345945,"mode":"list","cachedResultName":"Tráfego","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=792345945"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[300,60],"id":"f0109325-5a16-4add-8bfe-393f3808b957","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let dataInicial = $now\ndataInicial = dataInicial.year + '-' + (dataInicial.month <= 9 ? '0' + dataInicial.month : dataInicial.month) + '-' + (dataInicial.day <= 9 ? '0' + dataInicial.day : dataInicial.day)\n\n//dataInicial = '2025-03-01'\n\n// while (data != dataInicial) {\n//     data = $now.minus(86400000 * i)\n//     data = data.year + '-' + (data.month <= 9 ? '0' + data.month : data.month) + '-' + (data.day <= 9 ? '0' + data.day : data.day)\n//     dias[dias.length] = data\n//     i++\n// }\nlet dias = [dataInicial]\n\n// dias = dias.reverse()\n\n$input.item.json.data = dias\n\nreturn $input.item"},"id":"eb9d8b60-3760-4ea0-87ba-c01cb4376664","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-60,-20]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-300,-20],"id":"45d4e180-3795-49f6-a1d5-a9bbefe5aa55","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"7fae71ae-eb1d-4abb-8611-82d9824e6dd1","name":"Data","value":"={{ $json.Data }}","type":"string"},{"id":"15889f75-7e75-4e9f-89a1-4ed18368e1f0","name":"source_id","value":"={{ $json.source_id }}","type":"string"},{"id":"21c146d0-2483-46d6-a9c8-2d48884c27a8","name":"campanha","value":"={{ $json.campanha }}","type":"string"},{"id":"5709eb18-0533-40ac-9a37-4e63f7ac441e","name":"conjunto_anuncio","value":"={{ $json.conjunto_anuncio }}","type":"string"},{"id":"0242abb7-3588-4c14-901b-3c716cad4275","name":"anuncio","value":"={{ $json.anuncio }}","type":"string"},{"id":"83ce8199-f071-48f6-8e1c-f2817daf9c33","name":"investimento","value":"={{ $json.investimento }}","type":"number"},{"id":"69b3345a-064f-4134-9a3e-7abb1c8ec99a","name":"Faturamento","value":"={{ $json.Valor }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,0],"id":"d6ce2f04-01eb-4b1c-ad39-23a01be97224","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":979814444,"mode":"list","cachedResultName":"Cruzamento de dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=979814444"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["source_id"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source_id","displayName":"source_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conjunto_anuncio","displayName":"conjunto_anuncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"anuncio","displayName":"anuncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"investimento","displayName":"investimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Faturamento","displayName":"Faturamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1080,0],"id":"772898a4-9771-4df8-9665-942cf0179170","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e9c2944-c8bf-48d3-9f2a-e73e856a0a00","triggerCount":1,"tags":[]}