disparo-LHpb12oIWzgxKnB1.json
{"createdAt":"2025-03-17T15:00:44.066Z","updatedAt":"2025-03-17T19:59:36.529Z","id":"LHpb12oIWzgxKnB1","name":"Disparo","active":false,"nodes":[{"parameters":{"options":{}},"id":"6748cba0-1a74-46ed-ac87-87dc3be67092","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,180]},{"parameters":{},"id":"9f63e6d0-9e8c-4505-b02b-b855c5e8a4fa","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,180]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"options":{}},"id":"f8300c8d-9e71-4c27-9c96-809e7dacfc28","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[180,180],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{},"id":"0105c48c-1a5a-409d-8510-0a38d279a0c6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1620,160],"webhookId":"d0d15a52-ab95-4405-8174-0ffa1682b596"},{"parameters":{"assignments":{"assignments":[{"id":"0d010fb1-a2fe-48e7-9413-61090b6e602a","name":"Telefone","value":"={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"Phone\"] }}","type":"string"}]},"options":{}},"id":"7875d5cb-dbbb-4df1-a4bd-44281cde3691","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed4f8890-e412-4c58-8a62-68f5cca1e205","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,180],"id":"e85ac333-1776-407c-a45d-eccd5f6ff3c6","name":"If"},{"parameters":{"method":"POST","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,160],"id":"c375dd6c-f146-4c6a-b420-7bba9809fa7e","name":"HTTP Request"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3229356c-2ddc-4ed8-abf5-013cc5972cd6","triggerCount":0,"tags":[]}