disparo-LHpb12oIWzgxKnB1.json
{"createdAt":"2025-03-17T15:00:44.066Z","updatedAt":"2025-03-17T15:00:50.590Z","id":"LHpb12oIWzgxKnB1","name":"Disparo","active":false,"nodes":[{"parameters":{"phoneNumberId":"204503842755674","recipientPhoneNumber":"={{ $node[\"Edit Fields1\"].json[\"Telefone\"] }}","template":"fdsfdsfdsfsdf|pt_BR","requestOptions":{}},"id":"2ea7a649-d035-42b6-955a-04533883163d","name":"WhatsApp - Envia texto","type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1000,180]},{"parameters":{"options":{}},"id":"6748cba0-1a74-46ed-ac87-87dc3be67092","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,180]},{"parameters":{},"id":"9f63e6d0-9e8c-4505-b02b-b855c5e8a4fa","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,180]},{"parameters":{"documentId":{"__rl":true,"value":"1DVjEcSBi0pFSVSfNcspXy3kS5ozWt1oOp3Kv3CHNLrg","mode":"list","cachedResultName":"Alunos-metodo-set-dez-2024","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DVjEcSBi0pFSVSfNcspXy3kS5ozWt1oOp3Kv3CHNLrg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Alunos_set_dez_2024","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DVjEcSBi0pFSVSfNcspXy3kS5ozWt1oOp3Kv3CHNLrg/edit#gid=0"},"options":{}},"id":"f8300c8d-9e71-4c27-9c96-809e7dacfc28","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[280,180]},{"parameters":{},"id":"0105c48c-1a5a-409d-8510-0a38d279a0c6","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1240,180],"webhookId":"d0d15a52-ab95-4405-8174-0ffa1682b596"},{"parameters":{"assignments":{"assignments":[{"id":"0d010fb1-a2fe-48e7-9413-61090b6e602a","name":"Telefone","value":"=55{{ $json[\"DDD\"] }}{{ $json[\"Telefone\"] }}","type":"string"}]},"options":{}},"id":"7875d5cb-dbbb-4df1-a4bd-44281cde3691","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,180]}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"WhatsApp - Envia texto":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"WhatsApp - Envia texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c4f62008-2b15-4a6c-af21-6be5f5386e03","triggerCount":0,"tags":[]}