my-workflow-z3ubpnBCUsrBcEPI.json
{"createdAt":"2025-03-28T14:52:12.672Z","updatedAt":"2025-03-28T14:54:51.156Z","id":"z3ubpnBCUsrBcEPI","name":"My workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f2b962ea-ac1f-45fc-a390-0ee1f9f1ec7f","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,0],"id":"c6a61ef7-32a3-4828-9f11-35376a5a5d38","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"3ec82ef6-136d-4b2b-995e-d000c03db3f7","name":"phone","value":"={{ $json[\"Phone\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,0],"id":"03e1c000-84c5-4f18-adcc-ab02f3667637","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,0],"id":"1914aa34-355b-4031-9523-a80081ebda81","name":"Loop Over Items"},{"parameters":{"authentication":"serviceAccount"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1220,20],"id":"78bc2709-c9c8-46fa-92f8-14d5d10bba7f","name":"Google Cloud Firestore","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Cloud Firestore","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c73134d6-8e73-4a54-b0dc-c5e506ea71c5","triggerCount":0,"tags":[]}