my-workflow-2sLDdEBCsWJOkP3k.json
{"createdAt":"2025-03-12T14:20:37.861Z","updatedAt":"2025-03-12T14:37:25.186Z","id":"2sLDdEBCsWJOkP3k","name":"My workflow","active":false,"nodes":[{"parameters":{"authentication":"serviceAccount","projectId":"jhony-bd","collection":"Leads","documentId":"={{ $json[\"Phone\"].split('/').pop().replace('+', '') }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1040,20],"id":"4399280a-5ef8-4074-8154-7e17a0c620b5","name":"Google Cloud Firestore","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Comprou"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,-160],"id":"642982fc-1281-4ae3-9ecd-90f9b9dc2a2e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"Source ID","field2":"source_id"}]},"options":{"multipleMatches":"first"}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[620,0],"id":"1ea42e95-eb4a-4f12-bba2-600220ff9381","name":"Merge"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":792345945,"mode":"list","cachedResultName":"Tráfego","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=792345945"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[320,100],"id":"f0109325-5a16-4add-8bfe-393f3808b957","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let dataInicial = $now\ndataInicial = dataInicial.year + '-' + (dataInicial.month <= 9 ? '0' + dataInicial.month : dataInicial.month) + '-' + (dataInicial.day <= 9 ? '0' + dataInicial.day : dataInicial.day)\n\n//dataInicial = '2025-03-01'\n\n// while (data != dataInicial) {\n//     data = $now.minus(86400000 * i)\n//     data = data.year + '-' + (data.month <= 9 ? '0' + data.month : data.month) + '-' + (data.day <= 9 ? '0' + data.day : data.day)\n//     dias[dias.length] = data\n//     i++\n// }\nlet dias = [dataInicial]\n\n// dias = dias.reverse()\n\n$input.item.json.data = dias\n\nreturn $input.item"},"id":"eb9d8b60-3760-4ea0-87ba-c01cb4376664","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[-80,-20]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-300,-20],"id":"45d4e180-3795-49f6-a1d5-a9bbefe5aa55","name":"Schedule Trigger"}],"connections":{"Google Sheets":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d6bd8343-7800-4d10-8ef9-c9e6b73cb0be","triggerCount":0,"tags":[]}