push-nos-telefones-z3ubpnBCUsrBcEPI.json
{"createdAt":"2025-03-28T14:52:12.672Z","updatedAt":"2025-03-28T15:57:14.948Z","id":"z3ubpnBCUsrBcEPI","name":"Push nos telefones","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,0],"id":"f2b962ea-ac1f-45fc-a390-0ee1f9f1ec7f","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[300,0],"id":"c6a61ef7-32a3-4828-9f11-35376a5a5d38","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"3ec82ef6-136d-4b2b-995e-d000c03db3f7","name":"phone","value":"={{ $json[\"Phone\"].replace(/\\D/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,0],"id":"03e1c000-84c5-4f18-adcc-ab02f3667637","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,0],"id":"1914aa34-355b-4031-9523-a80081ebda81","name":"Loop Over Items"},{"parameters":{"authentication":"serviceAccount","projectId":"jhony-bd","collection":"Leads","documentId":"={{ $json[\"phone\"] }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1100,20],"id":"78bc2709-c9c8-46fa-92f8-14d5d10bba7f","name":"Google Cloud Firestore","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1340,20],"id":"7e1f2078-cb69-4e08-bc29-01623b1a1b27","name":"Wait","webhookId":"462949b4-3adf-4727-b166-3151831ab7f0"},{"parameters":{"assignments":{"assignments":[{"id":"e5059342-99c2-4a4d-ad9b-1413e347f4be","name":"phone","value":"=+{{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,20],"id":"aa0046c9-1dcd-47f5-b45e-1e5301deecc1","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Mgc6vHElPsAMA30wNbGl1sPZN4y9LNnLXsVj9Isqp1g/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Phones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Mgc6vHElPsAMA30wNbGl1sPZN4y9LNnLXsVj9Isqp1g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"phone":"={{ $json[\"phone\"] }}"},"matchingColumns":["phone"],"schema":[{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1760,20],"id":"b77aad87-499c-4978-8cc5-1bb1779f5691","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Cloud Firestore","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"484e8280-7c95-44a6-afa1-d3df0e1a294a","triggerCount":0,"tags":[]}