teste-de-vendas-no-wapp-com-novo-json-9BqSV2MNjaZmo3zu.json
{"createdAt":"2025-03-13T13:35:38.201Z","updatedAt":"2025-03-13T13:35:38.201Z","id":"9BqSV2MNjaZmo3zu","name":"Teste de vendas no wapp com novo Json","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"93f376b9-94b1-49ee-acdb-9b5109ce7c91","name":"telefone","value":"={{ $json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].split('@')[0] }}","type":"string"}]},"options":{}},"id":"449b80b2-13ee-4c27-972d-4e299eb924fc","name":"informações","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,260]},{"parameters":{"type":"SHA256","value":"={{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}","dataPropertyName":"dataPhone"},"id":"d15a9574-97ea-443a-8cf2-21020c24393d","name":"dataPhone","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[780,260]},{"parameters":{"jsCode":"// Função para procurar \"dataset\" e \"page\" em qualquer lugar do objeto\nfunction findDatasetAndPage(jsonObj) {\n    let result = {\n        dataset: [],\n        page: []\n    };\n\n    function searchInObject(obj) {\n        if (obj && typeof obj === 'object') {\n            // Coleta o campo \"dataset\" se existir\n            if (obj['dataset']) {\n                result.dataset.push(...obj['dataset']);\n            }\n            // Coleta o campo \"page\" se existir\n            if (obj['page']) {\n                result.page.push(...obj['page']);\n            }\n            // Percorre os sub-objetos e arrays recursivamente\n            for (let key in obj) {\n                if (obj.hasOwnProperty(key) && typeof obj[key] === 'object') {\n                    searchInObject(obj[key]);\n                }\n            }\n        }\n    }\n\n    searchInObject(jsonObj);\n    return result;\n}\n\n// A entrada do n8n geralmente vem em um formato específico. Pegue os dados de entrada.\nconst inputData = $input.all();\n\nlet finalResult = [];\n\ninputData.forEach(item => {\n    // Use a função para procurar os valores de \"dataset\" e \"page\"\n    const datasetsAndPages = findDatasetAndPage(item.json);\n    \n    // Adiciona os resultados encontrados apenas se houver pelo menos um dataset ou page\n    if (datasetsAndPages.dataset.length > 0 || datasetsAndPages.page.length > 0) {\n        finalResult.push({ json: datasetsAndPages });\n    }\n});\n\n// Retorna os dados no formato esperado pelo n8n\nreturn finalResult;\n\n\n"},"id":"748ef85b-fa17-40b1-b54f-2b0062c2e6d3","name":"extrair page id e id do pixel - dataset","type":"n8n-nodes-base.code","typeVersion":2,"position":[360,520]},{"parameters":{"options":{"includeInputFields":true,"timezone":"America/Sao_Paulo"}},"id":"ecb7e2cc-da66-4f43-b2f5-2fdd41159688","name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[360,260]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v20.0/433280459806418/events","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": [\n    {\n      \"action_source\": \"business_messaging\",\n      \"event_name\": \"Purchase\",\n      \"event_time\": {{ $('Date Timestamp').item.json.dataTimestamp }},\n      \"messaging_channel\": \"whatsapp\",\n      \"user_data\": {\n        \"ph\": [\n          \"{{ $('dataPhone').item.json.dataPhone }}\"\n        ],\n        \"ctwa_clid\": \"{{ $('dataPhone').item.json.ctwaclid }}\",\n        \"page_id\": \"{{ $json.page[0] }}\"\n      },\n      \"custom_data\": {\n        \"currency\": \"BRL\",\n        \"value\": \"{{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"valor\"] }}\",\n        \"content_name\": \"{{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"produto\"] }}\"\n      }\n    }\n  ]\n}\n","options":{}},"id":"aa033440-bd0c-48d3-8671-e9833173a55b","name":"Enviar o purchase para a Meta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,520]},{"parameters":{"url":"=https://graph.facebook.com/v22.0/{{ $('Google Cloud Firestore').item.json.source_id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"EAAJX5YshELYBO1pEJ6IpIcVFOntZCsEuJZBJPzSI6ISwm6rP6wpB3cZBBnU9um4TFRdg86ahZAnAQ7v6rtZBXlgJGMrpbQJccOqfyccpu212aYoZAhy2QksXukqSuki6vaeHGSaHB0NWJjzd3EIZC4kNdjP3D9pUNoEevZAJZB7f2gPVHztdRZCZC5ZBxnzqXzQOu33fVgZDZD"},{"name":"fields","value":"tracking_specs"}]},"options":{}},"id":"57b438ba-c86c-4c2e-a413-734c79cb1e91","name":"Buscar o ID do pixel vinculado ao anúncio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,520]},{"parameters":{},"id":"f4764e9a-a6ef-4e06-bd94-a7bdb43cbf85","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-780,260]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $item(\"0\").$node[\"Data formatada\"].json[\"formattedDate\"] }}","Status":"={{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"status\"] }}","Phone":"=https://wa.me/+{{ $node[\"Google Cloud Firestore\"].json[\"phone\"] }}","Source ID":"={{ $node[\"Google Cloud Firestore\"].json[\"source_id\"] }}","Produto":"={{ $item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"produto\"] }}","Valor":"={{ JSON.stringify($item(\"0\").$node[\"Google Cloud Firestore 2\"].json[\"valor\"]) }}","Anúncio":"={{ $node[\"Google Cloud Firestore\"].json[\"source_url\"] }}"},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a76c1152-33ed-43c0-a193-56ecb3d0cfd4","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,520],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"operation":"formatDate","date":"={{ $item(\"0\").$node[\"Date & Time2\"].json[\"currentDate\"] }}","format":"custom","customFormat":"dd/MM/yyyy","options":{"timezone":true}},"id":"5633eba4-8de9-45e8-b0b9-3ebd60664474","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1000,520]},{"parameters":{"assignments":{"assignments":[{"id":"a5d36b7a-2e5f-47d7-8510-1f4562ba52ed","name":"Mensagem","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"c3b5b12c-ad1d-4199-b230-28e25bfe21b6","name":"body.data.message.extendedTextMessage.text","value":"={{ $('Execute Workflow Trigger').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"b7bc68a9-6db1-464b-ba78-6bed1059bef6","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,260]},{"parameters":{"operation":"formatDate","date":"={{ $node[\"Date & Time\"].json[\"currentDate\"] }}","format":"X","outputFieldName":"dataTimestamp","options":{"includeInputFields":true}},"id":"d756c755-ca0a-40c4-b658-195ba101a2b3","name":"Date Timestamp","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[560,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4f1ba5c3-cf50-4062-aeca-53e133736297","leftValue":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","rightValue":"confirmado","operator":{"type":"string","operation":"contains"}},{"id":"e891443c-29d9-4506-a31f-2f0a091a1c58","leftValue":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"extendedTextMessage\"][\"text\"] }}","rightValue":"Seu pedido foi confirmado","operator":{"type":"string","operation":"contains"}},{"id":"af192ecf-b603-4229-8218-68666bea8c5b","leftValue":"={{ $node[\"Execute Workflow Trigger\"].json[\"content\"][\"data\"][\"message\"][\"conversation\"] }}","rightValue":"Seu pedido foi confirmado","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"3bbdf072-a554-4c03-87c9-7eb4508ad571","name":"Filtrar mensagem","type":"n8n-nodes-base.filter","typeVersion":2.1,"position":[-360,260]},{"parameters":{"jsCode":"// A variável 'mensagem' será fornecida através de uma entrada de dados (como um campo JSON)\nconst mensagem = $json[\"Mensagem\"];\n\n// Função para capturar os valores entre asteriscos\nfunction capturarValores(mensagem) {\n    const regex = /\\*(.*?)\\*/g; // Expressão regular para capturar tudo que está entre asteriscos\n    let valores = [];\n    let match;\n    \n    while ((match = regex.exec(mensagem)) !== null) {\n        valores.push(match[1]);\n    }\n\n    return valores;\n}\n\n// Função para converter o valor em número (caso seja um valor monetário)\nfunction converterParaNumero(valor) {\n    // Verifica se o valor é um valor monetário (começa com \"R$\")\n    if (valor.includes(\"R$\")) {\n        // Remove \"R$\" e substitui a vírgula por ponto, e converte para número\n        return parseFloat(valor.replace(\"R$\", \"\").replace(\",\", \".\"));\n    }\n    // Caso não seja um valor monetário, retorna o valor original (em string ou número)\n    return isNaN(valor) ? valor : parseFloat(valor);\n}\n\n// Captura os valores\nconst valoresCapturados = capturarValores(mensagem);\n\n// Renomeia as chaves conforme solicitado e retorna cada valor separado\nreturn valoresCapturados.map((valor, index) => {\n    let chave;\n    let valorConvertido = converterParaNumero(valor); // Converte para número quando necessário\n    \n    // Define as chaves conforme o conteúdo encontrado\n    if (valor.includes(\"pedido\")) {\n        chave = \"Status\";\n    } else if (valor.includes(\"VisioNutra\")) {\n        chave = \"Produto\";\n    } else if (valor.includes(\"R$\")) {\n        chave = \"Valor\";\n    }\n\n    return { json: { [chave]: valorConvertido } };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-780,520],"id":"1f0d1de7-a0ff-40a4-a0e7-168034bafead","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adf9a3bf-ced4-488e-aecd-66ae4db769a2","leftValue":"={{ $('Google Cloud Firestore').item.json.ctwaclid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,520],"id":"e065e85c-995e-498b-9fef-2a8ed24415d3","name":"If"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"jhony-bd","collection":"Leads","updateKey":"phone","columns":"produto,valor,status,phone"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-280,520],"id":"417b90df-db7b-464f-a29d-f1d2d62e82b0","name":"Google Cloud Firestore 2","credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"authentication":"serviceAccount","projectId":"jhony-bd","collection":"Leads","documentId":"={{ $json[\"telefone\"] }}"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[-160,260],"id":"3e7d11fc-5101-4f2e-a4f3-c1858be2f675","name":"Google Cloud Firestore","alwaysOutputData":true,"credentials":{"googleApi":{"id":"VVGvjB1KdrKMPLOu","name":"[Jhony] Google Firebase Cloud Firestore account"}}},{"parameters":{"assignments":{"assignments":[{"id":"19c15785-aa9e-434b-b838-c2a167ddc84b","name":"produto","value":"={{ $item(\"1\").$node[\"Code\"].json[\"Produto\"] }}","type":"string"},{"id":"9a9cb607-abb6-49e6-bf1e-5bfc6c2218a1","name":"valor","value":"={{ $item(\"2\").$node[\"Code\"].json[\"Valor\"] }}","type":"number"},{"id":"d3da59b7-10b1-4a0a-a33b-2dbaa49c63f7","name":"status","value":"Comprou","type":"string"},{"id":"30b7e9bd-e622-4916-8eef-43f0c339ad00","name":"phone","value":"={{ $item(\"0\").$node[\"informações\"].json[\"telefone\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-520,520],"id":"8836c458-7943-4b69-9437-918f44a213e0","name":"Edit Fields1","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[160,820],"id":"a0c8b1f8-f101-4e30-9c79-539cb13f5ad3","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15c2e701-e05c-445d-9fa4-da5852fe5dd9","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,180],"id":"7ce18101-72f7-4c4d-9bca-c49633b4b095","name":"If1"},{"parameters":{"jsCode":"// A variável 'mensagem' será fornecida através de uma entrada de dados (como um campo JSON)\nconst mensagem = $json[\"Mensagem\"];\n\n// Função para capturar os valores entre asteriscos\nfunction capturarValores(mensagem) {\n    const regex = /\\*(.*?)\\*/g; // Expressão regular para capturar tudo que está entre asteriscos\n    let valores = [];\n    let match;\n    \n    while ((match = regex.exec(mensagem)) !== null) {\n        valores.push(match[1]);\n    }\n\n    return valores;\n}\n\n// Função para converter o valor em número (caso seja um valor monetário)\nfunction converterParaNumero(valor) {\n    // Verifica se o valor é um valor monetário (começa com \"R$\")\n    if (valor.includes(\"R$\")) {\n        // Remove \"R$\" e substitui a vírgula por ponto, e converte para número\n        return parseFloat(valor.replace(\"R$\", \"\").replace(\",\", \".\"));\n    }\n    // Caso não seja um valor monetário, retorna o valor original (em string ou número)\n    return isNaN(valor) ? valor : parseFloat(valor);\n}\n\n// Captura os valores\nconst valoresCapturados = capturarValores(mensagem);\n\n// Renomeia as chaves conforme solicitado e retorna cada valor separado\nreturn valoresCapturados.map((valor, index) => {\n    let chave;\n    let valorConvertido = converterParaNumero(valor); // Converte para número quando necessário\n    \n    // Define as chaves conforme o conteúdo encontrado\n    if (valor.includes(\"pedido\")) {\n        chave = \"Status\";\n    } else if (valor.includes(\"VisioNutra\")) {\n        chave = \"Produto\";\n    } else if (valor.includes(\"R$\")) {\n        chave = \"Valor\";\n    }\n\n    return { json: { [chave]: valorConvertido } };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-20],"id":"01a29a19-8c04-41d4-bfc6-a277cc1d7620","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"a5d36b7a-2e5f-47d7-8510-1f4562ba52ed","name":"Mensagem","value":"={{ $node[\"Execute Workflow Trigger\"].json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}","type":"string"},{"id":"c3b5b12c-ad1d-4199-b230-28e25bfe21b6","name":"body.data.message.extendedTextMessage.text","value":"={{ $('Execute Workflow Trigger').item.json.body.data.message.extendedTextMessage.text }}","type":"string"}]},"options":{}},"id":"eb5d0a6b-e11f-4f89-b7b7-61fea73cc525","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-20]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ui7P36_vfE-7hVtn9ETKsJ5Qw6d2-TfKuUxxbCgm194/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json[\"formattedDate\"] }}","Status":"Comprou","Phone":"=https://wa.me/+{{ $node[\"informações\"].json[\"telefone\"] }}","Produto":"={{ $item(\"1\").$node[\"Code1\"].json[\"Produto\"] }}","Valor":"={{ $item(\"2\").$node[\"Code1\"].json[\"Valor\"] }}","Source ID":"Venda Indireta"},"matchingColumns":["Phone"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Source ID","displayName":"Source ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Produto","displayName":"Produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Anúncio","displayName":"Anúncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e8e7df1c-0819-45e7-88c2-06623c6de05e","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,-20],"credentials":{"googleSheetsOAuth2Api":{"id":"eczJoeHysEmcz1nJ","name":"[Sheets] Kayo Dantas Sheets"}}},{"parameters":{"options":{"includeInputFields":true,"timezone":"America/Sao_Paulo"}},"id":"17288209-fb27-4806-b92c-cac416f3a37b","name":"Date & Time1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[580,-20]},{"parameters":{"operation":"formatDate","date":"={{ $json[\"currentDate\"] }}","format":"custom","customFormat":"dd/MM/yyyy","options":{}},"id":"deda525e-d24d-4b8f-b04f-90539bfe29f4","name":"Data formatada1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[780,-20],"executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[780,520],"id":"841c6b06-5e0c-4b48-a60f-66ac773ac32a","name":"Date & Time2"}],"connections":{"informações":{"main":[[{"node":"Filtrar mensagem","type":"main","index":0}]]},"dataPhone":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"extrair page id e id do pixel - dataset":{"main":[[{"node":"Enviar o purchase para a Meta","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Date Timestamp","type":"main","index":0}]]},"Enviar o purchase para a Meta":{"main":[[{"node":"Date & Time2","type":"main","index":0}]]},"Buscar o ID do pixel vinculado ao anúncio":{"main":[[{"node":"extrair page id e id do pixel - dataset","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"informações","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Date Timestamp":{"main":[[{"node":"dataPhone","type":"main","index":0}]]},"Filtrar mensagem":{"main":[[{"node":"Google Cloud Firestore","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Buscar o ID do pixel vinculado ao anúncio","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Google Cloud Firestore 2":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Cloud Firestore":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Google Cloud Firestore 2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Date & Time","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Data formatada1","type":"main","index":0}]]},"Data formatada1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Date & Time2":{"main":[[{"node":"Data formatada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"headers":{"host":"webhook.jhonysouza.online","user-agent":"axios/1.7.9","content-length":"1691","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.jhonysouza.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f87a86bb5137","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Jhony Atendente","data":{"key":{"remoteJid":"5521968134079@s.whatsapp.net","fromMe":true,"id":"3EB09FCE66A3E2D6E2B17B"},"pushName":"Leonardo Suporte","status":"SERVER_ACK","message":{"conversation":"Parabéns! 🥳 *Seu pedido foi confirmado!* O Laboratório já recebeu a ordem de produção do seu pedido e em breve ele será enviado para o seu endereço, iniciando assim o seu tratamento. Assim que o código de rastreio estiver disponível, eu o enviarei para que você possa acompanhar o envio. 📦\n\nAlém disso, você aproveitou uma oferta especial: *VisioNutra tratamento de 3 meses* com R$200,00 de desconto, incluindo um brinde 🎁, por apenas *R$297,00.* \n\nFico à disposição para qualquer dúvida ou suporte caso precise. 🙏 Deus abençõe"},"contextInfo":{"conversionSource":"FB_Ads","conversionData":"QVJDeE1OQUNBTUZ4SHFnWjNyaW1ZUHoteENjbjY3cVdVUWpIVDI0eEs2QU91YlpDYWticlozLXZNOTdyVGk0ekhzNU9XX2lFdXNyTjduck1YdUJhMGJOd3Z4SktyUnhXeGJYWERpMHFyWThpM1lMQlowYzFlanluUjlKN0IydjdWMWVKWWlNUXVCNXFkc0RtZVFwVGEzdGdaQXVQb2k2S0hUZ2NiYXNmaFFWXzVMU3RHemRPXzdCRGlBS1BKcXhXM3B2cHBNSE5yS1FaOWN1VkNOdXhlTnZQTGk5T2dzYk1pMS1jVGhiTGhOaDlVNi03c1RxU1YxX3ZoZzdueGtGaGdyU3paZ3o4alFrUkdIc0xxajNtd2IwZEJmSTBIM1ZkanlFdVU3Q0tYdjYzWF9QR1VFTTNMSE9SUTI3Wk92dkRFQQ=="},"messageType":"conversation","messageTimestamp":1741812487,"instanceId":"554a02d3-46a7-4ed4-98b9-15b93b7c98cb","source":"web"},"destination":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","date_time":"2025-03-12T17:48:08.043Z","sender":"557391357036@s.whatsapp.net","server_url":"https://chat.jhonysouza.online","apikey":"E26CA731DBBC-4A37-9AF2-E62AA8D3C5FB"},"webhookUrl":"https://webhook.jhonysouza.online/webhook/efe5237f-8ea1-4d38-8e63-b6edf487a92e","executionMode":"production"}}]},"versionId":"6cfa62e4-f570-4a4d-b9f8-091598391f3a","triggerCount":0,"tags":[]}